<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UUID</key>
		<string>D164038A-19CB-4D9D-B481-74AA76B19C47</string>
		<key>Buyer</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D8B52778-D724-47B7-9D98-D57777CC3FA9</string>
		<key>Buyer</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>28709A06-C78F-4949-B8DB-2A8D1A802C55</string>
		<key>Buyer</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8469E497-EE28-4967-A0A4-AEDD807D55F5</string>
		<key>Buyer</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9BFB653F-1BE9-484E-9012-560BDA755236</string>
		<key>Buyer</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D644E4D8-3379-4624-85DC-5C1ACF389666</string>
		<key>Buyer</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E356F178-BF45-47F9-AF88-DDCD4C78D548</string>
		<key>Buyer</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Buyer</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Buyer</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Buyer</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Buyer</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Buyer</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Buyer</key>
		<integer>8</integer>
	</dict>
</array>
</plist>
