<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>44</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>2</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>7</integer>
				<key>limit</key>
				<string>10</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>8</integer>
				<key>limit</key>
				<string>10</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-kgtw148.plist</string>
			<string>https://www.dropbox.com/s/t0fakcc2km6levz/uuids-kgtw.plist?dl=1</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/gm4nrfm12lgc0i9/uuids-gaomh2%202.plist?dl=1</string>
			<string>https://www.dropbox.com/s/aj8e6t8wqwy8f5p/uuids-hsj.plist?dl=1</string>
			<string>https://www.dropbox.com/s/2dlu8vfyt6bxalk/uuids-kylo.plist?dl=1</string>
			<string>https://www.dropbox.com/s/0xi5935d5451wk5/uuids-kuku.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A5302100-A829-40B1-8C8F-10A5359F4312</string>
		<key>EndDate</key>
		<date>2022-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9F0BC14B-9319-4D57-8412-D4D44D583712</string>
		<key>EndDate</key>
		<date>2023-02-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E0376083-FB56-4874-8BB5-9ABB66197E54</string>
		<key>EndDate</key>
		<date>2022-12-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F670A5CC-CD97-4DE3-BA41-7056DDE1691C</string>
		<key>EndDate</key>
		<date>2022-12-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>344F290C-9B21-4E30-B1CB-4B67F2BF5446</string>
		<key>EndDate</key>
		<date>2022-12-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5B049E6D-13F4-411A-87D6-8FF28013AE2E</string>
		<key>EndDate</key>
		<date>2022-12-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BBB39756-CC0A-47A2-9AF3-48F5809F0621</string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DE5F23A3-3C6A-4218-902B-CABD85FD367E</string>
		<key>EndDate</key>
		<date>2022-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2E59274C-C65E-475C-B10A-92019DE3B767</string>
		<key>EndDate</key>
		<date>2022-12-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>26DF66F4-19B8-4D0E-82FE-305B61645E3D</string>
		<key>EndDate</key>
		<date>2023-01-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>679F1E2A-ED0B-47B9-9D9D-79A9755554A5</string>
		<key>EndDate</key>
		<date>2022-11-24T15:59:59Z</date>
	</dict>
</array>
</plist>
