<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>7615CEFD-8569-4B68-A68D-9834628AE1EA</string>
	<string>8B0938CE-14C8-4539-982D-4F40E5CC6A95</string>
	<string>3ED9B67B-DA06-48A8-8E35-836B06BD5366</string>
	<string>2AD33B1B-2172-4D06-B67C-C0F4D6A9810D</string>
	<string>4071DC70-F4FF-4720-B3A2-FF68C788572E</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
</array>
</plist>
