<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-knightcore.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9CAF02ED-62DE-4852-A5B8-6DFA389ACDCB</string>
		<key>EndDate</key>
		<date>2022-12-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FF9A904D-5F34-4C68-81AD-C73F78E00339</string>
		<key>EndDate</key>
		<date>2022-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1FB119DC-6DBC-4D2E-9E69-280C0A5AC754</string>
		<key>EndDate</key>
		<date>2022-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C6BB9833-9196-411B-88E5-5107D836D464</string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6929DEBC-EDFB-4D44-A363-BA082DC011BF</string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D700425E-B4C4-4BC5-83D0-0554E3A3E16C</string>
		<key>EndDate</key>
		<date>2022-11-20T15:59:59Z</date>
	</dict>
</array>
</plist>
