<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-archerforest.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-06-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-06-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>12F82471-E336-4A0C-A864-835B5F769A7B</string>
		<key>EndDate</key>
		<date>2023-06-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C8FDC168-850C-495B-A386-6ADC118C71C6</string>
		<key>EndDate</key>
		<date>2023-06-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>23A78001-5921-4308-95B8-9613F6FA6B87</string>
		<key>EndDate</key>
		<date>2023-06-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>ACD45223-C1C8-45E8-81EE-14C1291F9BD5</string>
		<key>EndDate</key>
		<date>2023-06-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D439CA13-5BED-4147-A108-011D308D9840</string>
		<key>EndDate</key>
		<date>2023-06-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>30C61DA0-F6D8-4F84-BC45-CCF26F483459</string>
		<key>EndDate</key>
		<date>2023-05-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>33063237-A6B9-45B0-AC3F-4796E6CD03DC</string>
		<key>EndDate</key>
		<date>2023-05-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AF084DC7-FDBB-45E8-B0B4-3EC5AE1F410F</string>
		<key>EndDate</key>
		<date>2023-05-24T15:59:59Z</date>
	</dict>
</array>
</plist>
