<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>688C38EA-D290-4FDF-A5A5-FC37B9716DB3</string>
		<key>EndDate</key>
		<date>2022-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1C31755C-6A5D-44A8-8FCA-452A4B7B314C</string>
		<key>EndDate</key>
		<date>2022-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2656D3C3-BCDA-41F3-AB27-54D18E2C2298</string>
		<key>EndDate</key>
		<date>2022-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>03C0242E-522F-457C-83AD-37FAE3C1547D</string>
		<key>EndDate</key>
		<date>2022-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E5ABBAC3-DFC9-4D51-95CB-F510732534B4</string>
		<key>EndDate</key>
		<date>2022-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6AB09AC7-0B4E-49C0-B331-6E38C87E0D6E</string>
		<key>EndDate</key>
		<date>2022-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7113ED53-EAC8-46D6-A368-DF0779BC5F94</string>
		<key>EndDate</key>
		<date>2022-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>41F8753B-328B-409F-B205-8F8BD19A811E</string>
		<key>EndDate</key>
		<date>2022-09-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0D971F26-E9D3-4131-80CF-D900040F285D</string>
		<key>EndDate</key>
		<date>2022-09-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0646AE45-BC4D-4EC3-8EF8-8738C1D16D37</string>
		<key>EndDate</key>
		<date>2022-09-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E97204AB-B8CC-47B2-98A2-27DD2CE5DBB7</string>
		<key>EndDate</key>
		<date>2022-09-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EB0DFB74-BD26-4240-B4D0-8CA2135136AE</string>
		<key>EndDate</key>
		<date>2022-09-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>13D2914E-5EC6-454A-924B-ED0DED80F9CF</string>
		<key>EndDate</key>
		<date>2022-09-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6ABE2014-00EE-4F9B-B91D-D2AA5BE25281</string>
		<key>EndDate</key>
		<date>2022-09-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>855EB94A-63EC-44E1-948D-776C52F7384F</string>
		<key>EndDate</key>
		<date>2022-09-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>94994472-7475-465A-B70A-58E9B9AA1768</string>
		<key>EndDate</key>
		<date>2022-09-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>43835164-9F53-46F6-8ABE-A0BA8E24705A</string>
		<key>EndDate</key>
		<date>2022-09-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4577FE5E-E451-4E26-9A5B-169CD01F56A2</string>
		<key>EndDate</key>
		<date>2022-09-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AB407548-987C-4F5A-8A03-79DE473B44CC</string>
		<key>EndDate</key>
		<date>2022-09-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>59CFB330-83BB-499B-86BE-BDB4FF1C506D</string>
		<key>EndDate</key>
		<date>2022-09-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C131A13E-735F-446C-B065-EB3F99D7455A</string>
		<key>EndDate</key>
		<date>2022-09-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>Remark</key>
		<string>Kylo</string>
		<key>UUID</key>
		<string>9F061372-3A8D-4B97-8B7D-1C478619FD1E</string>
		<key>EndDate</key>
		<date>2022-09-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0B5BA00A-AB8B-46F2-BDD8-A582139B37A6</string>
		<key>EndDate</key>
		<date>2022-09-15T15:59:59Z</date>
	</dict>
</array>
</plist>
