<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<dict>
		<key>UUID</key>
		<string>01F72CFC-F88E-4208-B69B-2E662620679A</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-09-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>10663492-1DB8-403F-A267-B43FCF652DCD</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-09-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>85DFE917-5C86-4EDE-93E0-D479E61863E2</string>
        <key>EndDate</key>
             <date>2021-10-05T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>38CF556C-C520-4228-B32D-14E3E64708A3</string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
