<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-archero.plist</string>
			<string>https://www.dropbox.com/s/8nxjirc0qi79hw5/uuids-archero.plist?dl=1</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://www.dropbox.com/s/b7cj2mwfjsw0czn/uuids-chenyc.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-05-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>94CD71B1-F866-438E-BA39-1E2F22926580</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-06-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E6B31134-05B3-4709-A4E1-A59CFB6BD7A8</string>
		<key>EndDate</key>
		<date>2022-06-05T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>67F045B9-EAD0-4063-BBF1-43680D3A3721</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-06-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B6D2044A-8133-42B1-8C53-71B2F4329FFE</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-06-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-03-17T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-02-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-03-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-04-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
