<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>

		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-legendarymasteridle.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ashqcoghmckipw8/uuids-virawu.plist?dl=1</string>

		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-01-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-01-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-01-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4563AB70-90F5-45E9-8F58-40DC51C6BCFE</string>
		<key>EndDate</key>
		<date>2024-01-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>49C97594-5F4A-4A60-9057-365AD815981B</string>
		<key>EndDate</key>
		<date>2024-01-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7EC00E04-DA59-4578-9D41-BDA4AD39CB9F</string>
		<key>EndDate</key>
		<date>2024-01-15T15:59:59Z</date>
	</dict>
</array>
</plist>
