<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-knightsurvivors.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-09-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-09-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-09-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CF6CACCA-C877-4D6C-BE8B-DF728E1D5CA6</string>
		<key>EndDate</key>
		<date>2023-10-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E5E84787-0296-4AC8-B352-F8F9097B335D</string>
		<key>EndDate</key>
		<date>2023-09-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E1A9033A-90D3-4BD0-B812-B3AC3D42B76B</string>
		<key>EndDate</key>
		<date>2023-09-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>51145FF5-43B4-4A7B-ADCF-BA0BD3BA8A95</string>
		<key>EndDate</key>
		<date>2023-09-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3FDA97A7-D791-4551-8908-91B065E463E2</string>
		<key>EndDate</key>
		<date>2023-09-04T15:59:59Z</date>
	</dict>
</array>
</plist>
