<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-neonabyss.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>97F4BE30-B3DE-4B53-AB4F-1AD9D5D8F184</string>
		<key>EndDate</key>
		<date>2023-12-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>74726E89-34CA-4F2E-BC2F-C1589E7569B5</string>
		<key>EndDate</key>
		<date>2023-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>985FE058-1DD0-4425-BF1A-4A90EC18B145</string>
		<key>EndDate</key>
		<date>2023-12-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F9352DB1-2E24-4F3A-AC38-D70C55B5B5D5</string>
		<key>EndDate</key>
		<date>2023-12-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1F670087-0EBB-4247-8228-AF86521ECF16</string>
		<key>EndDate</key>
		<date>2023-12-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E2C8BC58-3C8D-4390-94F7-3745EB731EB4</string>
		<key>EndDate</key>
		<date>2023-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5DB688D6-6056-4DE4-AB6B-4BEE70C0911A</string>
		<key>EndDate</key>
		<date>2023-11-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>85FE8737-2FC2-4B9A-A6FB-7B5919C8E5D5</string>
		<key>EndDate</key>
		<date>2023-12-11T15:59:59Z</date>
	</dict>
</array>
</plist>
