<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-ninjadefenders.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2025-05-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2025-05-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EC8DFFF9-DF4D-4014-87CB-E58708ACDEAF</string>
		<key>EndDate</key>
		<date>2025-04-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F1ECC9C3-03C3-4F5C-B201-87AE2AB0D436</string>
		<key>EndDate</key>
		<date>2025-03-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FE20BC87-9528-4408-93FA-3B1CEFD4ABE9</string>
		<key>EndDate</key>
		<date>2025-03-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5A8378BE-46D2-42B4-B5EF-9F55C117AC3A</string>
		<key>EndDate</key>
		<date>2025-02-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>91A71C6B-AFD0-4ED0-B363-B264E2372B24</string>
		<key>EndDate</key>
		<date>2025-01-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CA1DCF55-E89E-4060-B8FE-3DB090926CFF</string>
		<key>EndDate</key>
		<date>2024-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>48D33834-2992-4873-9742-8E45FBBDF070</string>
		<key>EndDate</key>
		<date>2024-11-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>75911D4D-CDFF-4F4D-A93F-814EE195C7A0</string>
		<key>EndDate</key>
		<date>2025-02-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F90C097A-2C1D-41E8-AA2F-0B06F5500972</string>
		<key>EndDate</key>
		<date>2025-02-17T15:59:59Z</date>
	</dict>
</array>
</plist>
