<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-fortresssaga.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-03-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-03-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-03-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4A6D701E-3F2D-40CF-9E72-86C16C321251</string>
		<key>EndDate</key>
		<date>2024-03-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>84216887-BB56-48BF-957B-4B2B066FA643</string>
		<key>EndDate</key>
		<date>2024-03-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A535B245-A8E2-4D51-A66F-9B85AE827C27</string>
		<key>EndDate</key>
		<date>2024-03-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>59CC79DB-9365-4917-8EC2-C331571963FE</string>
		<key>EndDate</key>
		<date>2024-03-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FE9068DD-CF7A-4772-A502-1C045F61992A</string>
		<key>EndDate</key>
		<date>2024-02-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F70547D6-37F0-4D3B-95A3-5426A1E81321</string>
		<key>EndDate</key>
		<date>2024-02-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>31DBE8D9-2802-4E6F-A7CE-63EAF0C0C41D</string>
		<key>EndDate</key>
		<date>2024-02-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>46F123F2-57F5-436C-B127-DB85D99FFB31</string>
		<key>EndDate</key>
		<date>2024-02-22T15:59:59Z</date>
	</dict>
</array>
</plist>
