<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-fortresssaga.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-04-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-04-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>56213CCB-B87E-4371-A560-15A68F6CD545</string>
		<key>EndDate</key>
		<date>2024-04-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8CD29735-5738-4134-B802-4967A471C148</string>
		<key>EndDate</key>
		<date>2024-04-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4D8E9BC5-40D6-4471-8E27-C25FF176C6EE</string>
		<key>EndDate</key>
		<date>2024-04-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9F0F6DD4-2755-4C3C-986C-B81F4B1EAA0F</string>
		<key>EndDate</key>
		<date>2024-04-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>09187CEF-7B79-4EF0-B958-FC058C622AA4</string>
		<key>EndDate</key>
		<date>2024-04-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1ABCF4F2-50FD-4062-BA7E-5220C8377AA2</string>
		<key>EndDate</key>
		<date>2024-03-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>84216887-BB56-48BF-957B-4B2B066FA643</string>
		<key>EndDate</key>
		<date>2024-03-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>59CC79DB-9365-4917-8EC2-C331571963FE</string>
		<key>EndDate</key>
		<date>2024-04-01T15:59:59Z</date>
	</dict>
</array>
</plist>
