<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AFEC0573-7754-41A6-A231-AC981734715D</string>
		<key>EndDate</key>
		<date>2022-10-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>363DBD62-1050-4441-AA43-43A04CCE20B9</string>
		<key>EndDate</key>
		<date>2022-10-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C94E23AF-3DDB-4DFD-B5A3-B55A10B83317</string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8DD3CEE0-DEAE-431E-9DAE-D0E4F6E95580</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-10-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AB66242F-854A-4AED-8860-E376C0418E85</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-09-22T15:59:59Z</date>
	</dict>
</array>
</plist>
