<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>2</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-tos.plist</string>
			<string>https://www.dropbox.com/s/8nxjirc0qi79hw5/uuids-tos.plist?dl=1</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/b7cj2mwfjsw0czn/uuids-chenyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>EndDate</key>
		<date>2025-10-26T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    	<key>LeaderBoard</key>
    	<integer>1</integer>
    	<key>AutoVictory</key>
    	<integer>1</integer>
    	<key>AutoP</key>
    	<integer>1</integer>
		<key>UUID</key>
		<string></string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-26T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    	<key>LeaderBoard</key>
    	<integer>1</integer>
    	<key>AutoVictory</key>
    	<integer>1</integer>
    	<key>AutoP</key>
    	<integer>1</integer>
		<key>UUID</key>
		<string></string>
	</dict>
  <dict>
		<key>EndDate</key>
		<date>2025-10-18T13:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
              <key>AutoP</key>
              <integer>1</integer>
              <key>AutoVictory</key>
              <integer>1</integer>
              <key>LeaderBoard</key>
              <integer>1</integer>
		<key>Mark</key>
		<string>官方賴李先生</string>
		<key>UUID</key>
		<string>D5EC3CF2-F45D-4E1B-99DF-B3F12C507F51</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-16T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    	<key>LeaderBoard</key>
    	<integer>1</integer>
    	<key>AutoVictory</key>
    	<integer>1</integer>
    	<key>AutoP</key>
    	<integer>1</integer>
		<key>UUID</key>
		<string>84980D67-441B-4D15-893D-E613028586E9</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-15T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    	<key>LeaderBoard</key>
    	<integer>1</integer>
    	<key>AutoVictory</key>
    	<integer>1</integer>
    	<key>AutoP</key>
    	<integer>1</integer>
		<key>UUID</key>
		<string>8B151FFD-3A70-4A3F-B099-860D503D1F9D</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-14T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    	<key>LeaderBoard</key>
    	<integer>1</integer>
    	<key>AutoVictory</key>
    	<integer>1</integer>
    	<key>AutoP</key>
    	<integer>1</integer>
		<key>UUID</key>
		<string>4C0FFD2F-1C34-477B-8B1D-3205181991B6</string>
	</dict>
  <dict>
		<key>EndDate</key>
		<date>2025-10-14T03:55:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
              <key>AutoVictory</key>
              <integer>1</integer>
              <key>AutoP</key>
              <integer>1</integer>
              <key>LeaderBoard</key>
              <integer>1</integer>
		<key>Mark</key>
		<string>官方賴Rufus</string>
		<key>UUID</key>
		<string>5966B9A8-BA85-462E-91D4-85F205221BD0</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-12T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    	<key>LeaderBoard</key>
    	<integer>1</integer>
    	<key>AutoVictory</key>
    	<integer>1</integer>
    	<key>AutoP</key>
    	<integer>1</integer>
		<key>UUID</key>
		<string>2A376376-182F-48C5-BC47-E0076FF3503D</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-10T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    	<key>LeaderBoard</key>
    	<integer>1</integer>
    	<key>AutoVictory</key>
    	<integer>1</integer>
    	<key>AutoP</key>
    	<integer>1</integer>
		<key>UUID</key>
		<string>4C19F4A3-4170-4913-936D-CF1561B8B94B</string>
	</dict>
  <dict>
		<key>EndDate</key>
		<date>2025-10-07T05:40:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
              <key>LeaderBoard</key>
              <integer>1</integer>
             <key>AutoVictory</key>
              <integer>1</integer>
              <key>AutoP</key>
              <integer>1</integer>
		<key>Mark</key>
		<string>官方賴蘇蘇</string>
		<key>UUID</key>
		<string>C643D956-0860-41BD-A863-F19CDB17BEC3</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-22T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    	<key>LeaderBoard</key>
    	<integer>1</integer>
    	<key>AutoVictory</key>
    	<integer>1</integer>
    	<key>AutoP</key>
    	<integer>1</integer>
		<key>UUID</key>
		<string>344C56E6-4B18-4F01-8297-47B658AA2B69</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-22T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    	<key>LeaderBoard</key>
    	<integer>1</integer>
    	<key>AutoVictory</key>
    	<integer>1</integer>
    	<key>AutoP</key>
    	<integer>1</integer>
		<key>UUID</key>
		<string>F3A0C2D8-DC70-46FA-A0C4-20EB96DE91AB</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-14T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    	<key>LeaderBoard</key>
    	<integer>1</integer>
    	<key>AutoVictory</key>
    	<integer>1</integer>
    	<key>AutoP</key>
    	<integer>1</integer>
		<key>UUID</key>
		<string>F5D616FB-CE3C-4AD0-80B5-7C108E0225E9</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-11T03:30:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
              <key>AutoVictory</key>
              <integer>1</integer>
              <key>AutoP</key>
              <integer>1</integer>
              <key>LeaderBoard</key>
              <integer>1</integer>
		<key>Mark</key>
		<string>官方賴易</string>
		<key>UUID</key>
		<string>0F33864B-408F-46FB-83BB-400E79623068</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-10T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>0A85999A-364D-4087-B76D-67DB4523D5B8</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-08T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>EAF2C490-F15B-467F-949A-3A7A82DB215C</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-26T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>A0B6746A-FE0D-4A36-8429-627BDBDB5E1C</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-01T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>8E174ECA-02C6-4080-9E97-EF8564F02F0F</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-02T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>1E3A5F4F-F20A-4ABE-8AA7-974AED907062</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-08-24T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>0</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>102026DC-2E2C-48C8-B9C5-25835241A12C</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-17T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>354A3126-F47E-4DEC-AB29-C7517A75D2E8</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-08-15T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>9EF85E24-0FBA-408F-BD9F-631EADFE596D</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-12T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>0</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>3DCE5124-7B1A-440C-953B-5113A8E2C5CD</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-08-07T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>D7A4C97D-F55F-4605-865E-7EB3438A0801</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-07-31T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>8F0C133F-2DB5-4980-A9DE-A01D64E8FDD7</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-07-29T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>A387E440-6D80-440B-B8EB-D398A74A5161</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-04T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>028CDC9C-13A9-4A25-83F8-D0B024D2F72F</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-07-21T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>2E70319F-A2AF-43F4-9EE3-40775CF0A88E</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-21T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>33FFA57E-DA4E-4D69-9E7B-DB23D3F19BA3</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-08T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>62460BB2-B395-45F5-AD83-46FBD3BBEBCB</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-07-21T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>7B48DE69-B578-45A1-8FC7-7753DA437543</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-07-23T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>700D5EB3-1194-4C10-AE91-9B114F74CC87</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-17T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>0</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>8B4B08A7-3B83-41B6-89D5-C4C8D2FECA42</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-22T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>B356735B-1EB2-436E-961F-C22E13E676E6</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-05T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>5E93A0CB-F2E3-43D7-8C92-163651F2C753</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>B86CEBCD-895C-4247-BEFD-F5F0D40185FE</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-06T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>2FDFC0FE-F73E-45BE-A9DD-8DEEC28559E8</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-08-03T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>4802F8A0-1BA5-4963-AFE9-DBA37822184A</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-03T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>29805359-822E-40EA-B67A-6CEE69545C0A</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-26T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>03D87479-9076-4190-83DF-517C4E987EEA</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-17T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>32995546-B33F-4C36-AC6A-D262C382DD61</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-20T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>AutoVictory</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string>83417027-2B02-489A-86D9-172C86797757</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-09T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
    		<key>LeaderBoard</key>
    		<integer>1</integer>
    		<key>AutoP</key>
    		<integer>1</integer>
		<key>UUID</key>
		<string></string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-10-10T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
              	<key>LeaderBoard</key>
              	<integer>1</integer>
             	<key>AutoVictory</key>
              	<integer>1</integer>
              	<key>AutoP</key>
              	<integer>1</integer>
		<key>UUID</key>
		<string>55B1A4B6-948B-4B20-8A42-8105CDA39730</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-09-21T08:40:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
              <key>AutoVictory</key>
              <integer>1</integer>
              <key>AutoP</key>
              <integer>1</integer>
              <key>LeaderBoard</key>
              <integer>1</integer>
		<key>Mark</key>
		<string>官方賴至均月卡制</string>
		<key>UUID</key>
		<string>6B14E1B8-EA9C-4B5F-BF51-D3FE596B2C14</string>
	</dict>
</array>
</plist>
