<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-04-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-04-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-02-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2023-02-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2023-02-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-12-06T04:20:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Change</key>
		<integer>1</integer>
		<key>Season</key>
		<integer>1</integer>
		<key>PetUpg</key>
		<integer>1</integer>
		<key>CardUpg</key>
		<integer>1</integer>
		<key>EquipUpg</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴翊</string>
		<key>UUID</key>
		<string>F51F938D-2A42-44A8-8B6D-5C1E069E28C5</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FB7216C8-CD84-4CC7-9CAE-07304CA7057A</string>
		<key>Change</key>
		<integer>1</integer>
		<key>Season</key>
		<integer>1</integer>
		<key>PetUpg</key>
		<integer>1</integer>
		<key>CardUpg</key>
		<integer>1</integer>
		<key>EquipUpg</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2023-12-04T15:59:59Z</date>
	</dict>
</array>
</plist>
