<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-slimelegion.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6056A860-F01D-464D-A624-105FF82324D4</string>
		<key>EndDate</key>
		<date>2023-05-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EC51F254-B64E-4D5D-9137-8A4E3891961C</string>
		<key>EndDate</key>
		<date>2023-05-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6326C3F1-18F8-4AEE-A296-A24A389CBD07</string>
		<key>EndDate</key>
		<date>2023-05-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>08CDC658-1A3F-420D-AB6F-39B08BD97533</string>
		<key>EndDate</key>
		<date>2023-05-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>77FE7B42-C193-42FC-A6E6-9774CA80E71B</string>
		<key>EndDate</key>
		<date>2023-05-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6F7CCC91-3BBA-4044-A620-EB2DAAC53ED4</string>
		<key>EndDate</key>
		<date>2023-05-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E7100CA9-F4D2-4071-ABC8-1C0E2A890395</string>
		<key>EndDate</key>
		<date>2023-05-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>37B601B2-7C70-4591-96BA-76931BB2E80B</string>
		<key>EndDate</key>
		<date>2023-05-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BB00D03B-FE4F-46B4-ACCC-A551A35838ED</string>
		<key>EndDate</key>
		<date>2023-05-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D021C5EC-A19C-4C95-AB74-6301EEE6865E</string>
		<key>EndDate</key>
		<date>2023-05-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>43647E5F-F510-46AF-80B9-77C3E176AB0E</string>
		<key>EndDate</key>
		<date>2023-04-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2C8BE116-36AA-4B09-B909-7C1E4D522FCD</string>
		<key>EndDate</key>
		<date>2023-05-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>305146A5-8349-4D86-8A20-0E25C82FB3FB</string>
		<key>EndDate</key>
		<date>2023-04-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>36EF8DA3-162A-4B7D-AB34-FDDF3609ABBB</string>
		<key>EndDate</key>
		<date>2023-04-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>55168EF3-53A2-4C12-990A-C6511999FBC0</string>
		<key>EndDate</key>
		<date>2023-04-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D52419AC-C093-4A9E-9FB0-18F05A8AFEB4</string>
		<key>EndDate</key>
		<date>2023-04-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D87E0152-A00A-4BDE-A070-EC17916E7C47</string>
		<key>EndDate</key>
		<date>2023-04-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E3E27FA6-E780-4AEF-B573-1788E239FEEA</string>
		<key>EndDate</key>
		<date>2023-04-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6FD2CFD4-1FCC-4F6C-BC4D-B917DBA0868A</string>
		<key>EndDate</key>
		<date>2023-04-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>93122956-689E-4400-92C0-90463174AB8E</string>
		<key>EndDate</key>
		<date>2023-04-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>66858F45-A4DB-4295-A808-5C66ACA886BF</string>
		<key>EndDate</key>
		<date>2023-04-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>35095BA3-5C4C-45F4-B873-1CDD00B8A862</string>
		<key>EndDate</key>
		<date>2023-04-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>599FA19A-52CC-49D7-A5E1-4803289B3837</string>
		<key>EndDate</key>
		<date>2023-04-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>77AEBE42-4DA7-4AE5-B80A-50C04413F054</string>
		<key>EndDate</key>
		<date>2023-04-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C0416830-660B-4F79-A058-3DF86D52C91E</string>
		<key>EndDate</key>
		<date>2023-04-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F8F38EE9-E39C-475B-BA45-6816AD3CCFBB</string>
		<key>EndDate</key>
		<date>2023-04-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3A77597B-F0FE-4988-A044-B0A9FBFE4C84</string>
		<key>EndDate</key>
		<date>2023-04-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6B17A770-8937-4FE4-941D-84944959268B</string>
		<key>EndDate</key>
		<date>2023-04-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CF93FA9B-E377-4383-856F-78469D3655DE</string>
		<key>EndDate</key>
		<date>2023-04-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>87B634CF-EDA1-4690-AA85-4FB59009DE88</string>
		<key>EndDate</key>
		<date>2023-04-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FBBF8F6A-43ED-4C48-BF66-CD94A73AF43B</string>
		<key>EndDate</key>
		<date>2023-04-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D52A01C3-379A-448C-9534-CA7F0C7828F5</string>
		<key>EndDate</key>
		<date>2023-04-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F6E92C81-811F-47A4-8B08-405383E0660D</string>
		<key>EndDate</key>
		<date>2023-04-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C9E5CC37-4244-42FD-8046-0F3EC1FF8AF6</string>
		<key>EndDate</key>
		<date>2023-04-11T15:59:59Z</date>
	</dict>
</array>
</plist>
