<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>

		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-luckydefense.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ashqcoghmckipw8/uuids-virawu.plist?dl=1</string>

		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>790A7D75-DDF1-4A15-89BC-E7897B16DA63</string>
		<key>EndDate</key>
		<date>2024-07-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5F453153-DF9B-4A82-8608-3CF83D608EA4</string>
		<key>EndDate</key>
		<date>2024-07-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>309B5973-7A24-4ACC-99B1-4D31FE9CFF73</string>
		<key>EndDate</key>
		<date>2024-07-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2024-07-05T12:30:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>翊啊唷</string>
		<key>UUID</key>
		<string>6F6E9C27-8CEC-4D14-8C55-F35EDCDB462F</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0B65AF71-C585-4125-A26D-1782F6AA0392</string>
		<key>EndDate</key>
		<date>2024-07-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5B122F10-28E0-4247-93B2-7849E84CE619</string>
		<key>EndDate</key>
		<date>2024-07-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D047E94E-0109-4B52-8464-8613B8400D4E</string>
		<key>EndDate</key>
		<date>2024-07-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8E593078-30A8-473E-BDAA-804AFA5660A9</string>
		<key>EndDate</key>
		<date>2024-07-04T15:59:59Z</date>
	</dict>
</array>
</plist>
