<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>

		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-idlehunter.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ashqcoghmckipw8/uuids-virawu.plist?dl=1</string>

		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-04-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-04-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-04-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>69ECA873-4C10-49CB-B6A5-D37E301E8D0A</string>
		<key>EndDate</key>
		<date>2024-04-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EFE1D606-E60F-454B-8FE4-5DB2FEC9F281</string>
		<key>EndDate</key>
		<date>2024-04-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5550DB27-3FAD-42C9-9664-00E0536BD3D4</string>
		<key>EndDate</key>
		<date>2024-04-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9037B0F8-EBC0-4C7D-B593-C0F75CF01371</string>
		<key>EndDate</key>
		<date>2024-04-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AD994C1C-4D77-4351-B28D-7FE35964DDE7</string>
		<key>EndDate</key>
		<date>2024-04-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>743462AE-BF75-49CB-9E69-E74C97D1B6FF</string>
		<key>EndDate</key>
		<date>2024-03-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>879C7FB1-D612-452B-AC1A-9B9AABD17B91</string>
		<key>EndDate</key>
		<date>2024-03-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C432907B-FBC9-46CC-AB80-634D2BDBD74D</string>
		<key>EndDate</key>
		<date>2024-04-01T15:59:59Z</date>
	</dict>
</array>
</plist>
