<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-eversoul.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-03-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-03-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-03-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-03-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>93EFDA6F-9D22-4DB5-8D58-03C5D5CB3498</string>
		<key>EndDate</key>
		<date>2023-02-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0DC3AA49-D23F-4A71-83EB-77CFE1C42760</string>
		<key>EndDate</key>
		<date>2023-02-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6D327167-6E27-4867-A4BA-828B7DCB95F9</string>
		<key>EndDate</key>
		<date>2023-02-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AE607436-53AB-4063-BF36-AADB37923C29</string>
		<key>EndDate</key>
		<date>2023-02-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>07CF0146-FA25-4EA2-AEEB-65DE433978AE</string>
		<key>EndDate</key>
		<date>2023-02-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7889D0D4-BB56-4D76-BDCF-2C16F42EFF8A</string>
		<key>EndDate</key>
		<date>2023-02-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>13015E3E-4149-49A1-9AEE-536918E108CD</string>
		<key>EndDate</key>
		<date>2023-02-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DD66887D-10C7-4C8B-906F-F4831565D73E</string>
		<key>EndDate</key>
		<date>2023-02-07T15:59:59Z</date>
	</dict>
</array>
</plist>
