<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-11-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-11-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-11-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F8B5F95D-587D-454C-A03A-C30155C6473C</string>
		<key>EndDate</key>
		<date>2022-11-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C5966728-AAB2-44E6-AD39-3A11BAA31F48</string>
		<key>EndDate</key>
		<date>2022-10-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>50F8CD6E-0C1E-4E65-9960-6940270699C1</string>
		<key>EndDate</key>
		<date>2022-11-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7161CD7D-EDD0-41EA-A65F-4C1F535DED87</string>
		<key>EndDate</key>
		<date>2022-11-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>23213D1B-613F-4509-AD5A-11765D945A3E</string>
		<key>EndDate</key>
		<date>2022-11-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EB402C9B-9118-4CF4-940D-3380AA019B55</string>
		<key>EndDate</key>
		<date>2022-10-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1EC5F708-10BA-4F63-904D-6B1A3AA94F2C</string>
		<key>EndDate</key>
		<date>2022-10-17T15:59:59Z</date>
	</dict>
</array>
</plist>
