<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>2</integer>
				<key>limit</key>
				<string>10</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-wildriftvn.plist</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/scl/fi/q9r2tdn3xo50jdfj82gk3/uuids-vongoc-2.plist?rlkey=iywmncc7ppcqardoa3psx5200&amp;dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>903F8015-2048-4490-8A75-B15ED6E87E8B</string>
		<key>EndDate</key>
		<date>2023-12-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2F3C3BA5-FD17-47D3-A0CB-9E85DA49B607</string>
		<key>EndDate</key>
		<date>2023-12-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8A3B1CB1-D668-4A1A-B225-6C989286AE69</string>
		<key>EndDate</key>
		<date>2023-12-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>006D6FC5-382A-4C8B-95C1-CAD5DD7524CC</string>
		<key>EndDate</key>
		<date>2023-12-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E4BDE41A-EE3E-421A-AE4D-9029D9FF0F46</string>
		<key>EndDate</key>
		<date>2023-12-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B934BDE0-8D78-4ADE-A681-97500190E449</string>
		<key>EndDate</key>
		<date>2023-12-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0B1EECB0-1F46-4040-A52A-5DEA0007EC20</string>
		<key>EndDate</key>
		<date>2023-12-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3C8EF2F5-114F-4FAB-B39C-FEE2F4DF5580</string>
		<key>EndDate</key>
		<date>2023-12-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FC5A3743-CFDD-4227-B96A-BF0A2EFCB179</string>
		<key>EndDate</key>
		<date>2023-12-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1A62D412-503E-45E2-AA92-1B7274076CC4</string>
		<key>EndDate</key>
		<date>2023-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BAC3A1D5-B462-46EF-B545-FE17797A8AAE</string>
		<key>EndDate</key>
		<date>2023-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>58564DE8-97BC-4A4F-984F-AE8BF862BA72</string>
		<key>EndDate</key>
		<date>2023-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FD4B4842-0BB4-4AFB-89F1-79C67BACEBE6</string>
		<key>EndDate</key>
		<date>2023-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-29T15:59:59Z</date>
	</dict>
</array>
</plist>
