<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>2</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-idlegongfu.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string>21C8F8CA-2EF7-42AA-B5B4-1E24813C72CA</string>
		<key>EndDate</key>
		<date>2022-10-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1E3F2976-6297-4AF8-8B90-462F0F927BB9</string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EFD1C03D-2E23-45E0-A429-ADD546C8ADBF</string>
		<key>EndDate</key>
		<date>2022-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CEF6F617-8D09-4AAB-9FA9-2B16C5C16487</string>
		<key>EndDate</key>
		<date>2022-12-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>776714C8-849D-44BB-8EC2-CF2443F983A3</string>
		<key>EndDate</key>
		<date>2022-12-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9B70B17E-799C-4F21-ABB7-C76973BECCD3</string>
		<key>EndDate</key>
		<date>2022-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>81B8FDF0-E954-4A81-9867-E63105976755</string>
		<key>EndDate</key>
		<date>2022-11-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CEE8FF93-62FC-42F2-868E-F58B2E34B891</string>
		<key>EndDate</key>
		<date>2022-11-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8C4D62BF-2FDE-4AAB-8C35-0A980280A445</string>
		<key>EndDate</key>
		<date>2022-11-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0A0E5B15-9979-4AC6-84AA-B3267A5DB7E8</string>
		<key>EndDate</key>
		<date>2022-11-26T15:59:59Z</date>
	</dict>
</array>
</plist>
