<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-08-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-08-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-07-21T06:10:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴Rufus</string>
		<key>UUID</key>
		<string>22EC81D0-8DE8-4E40-A6DD-FB9FE941ED29</string>
	</dict>	
	<dict>
		<key>EndDate</key>
		<date>2025-07-05T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>DC-Rufus</string>
		<key>UUID</key>
		<string>3AD1FE6C-5A4A-4C16-9AEC-37C789B723A6</string>
	</dict>
	</array>
</plist>
