<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>

		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-sevenknights.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-01-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-01-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8A3E8EF0-BA98-4297-BC31-2496F6DCF22A</string>
		<key>EndDate</key>
		<date>2024-01-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>48687DD8-8DBB-4991-B1C1-DA947730222D</string>
		<key>EndDate</key>
		<date>2023-12-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>31E2C9C5-2990-4B0F-82F7-57D3BA5119DC</string>
		<key>EndDate</key>
		<date>2024-01-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3C08B99D-D643-4FC0-B754-4BEBE830EA95</string>
		<key>EndDate</key>
		<date>2023-12-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>205FDBB0-BDE2-456F-BC97-ECDF8A8A84B5</string>
		<key>EndDate</key>
		<date>2023-12-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BF4B4EAE-F254-431A-A1CF-7EF1A89BA810</string>
		<key>EndDate</key>
		<date>2023-12-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EF391B28-F98B-48C6-B9D4-93D0B1639F83</string>
		<key>EndDate</key>
		<date>2023-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8A33B0E4-3B6A-493C-B876-0DCBD1C07DA7</string>
		<key>EndDate</key>
		<date>2023-12-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A53BD36C-3D2A-41FB-B78F-3F21F2838E36</string>
		<key>EndDate</key>
		<date>2023-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BA83ECCF-6027-4E75-B9D9-47710C2BDE83</string>
		<key>EndDate</key>
		<date>2023-12-29T15:59:59Z</date>
	</dict>
</array>
</plist>
