<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>99E2AF80-B6A5-4E12-ABEF-B1F2B54E158F</string>
	<string>F0733312-7BD3-4DD2-80FE-AE821F7577B3</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-02-14T15:59:59Z</date>
	</dict>
</array>
</plist>
