<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-sausage.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-09-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B9754611-7933-4E5E-8FE6-BEE8491D00A3</string>
		<key>EndDate</key>
		<date>2023-10-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>773DEAB7-4DBD-4611-996D-7DE5B1E0D512</string>
		<key>EndDate</key>
		<date>2023-10-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>51425AAB-6F73-40C4-AFE8-C8259118D5CB</string>
		<key>EndDate</key>
		<date>2023-09-31T15:59:59Z</date>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2023-09-30T14:30:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string></string>
		<key>UUID</key>
		<string>9DE54BF7-5FCF-4B07-8886-6115F8250A18</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A4A72168-245D-4CCF-B8CA-650B9C510026</string>
		<key>EndDate</key>
		<date>2023-09-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C1F7CB59-F1EA-45AA-BEED-85855BC5C6E0</string>
		<key>EndDate</key>
		<date>2023-09-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-10-29T13:10:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string></string>
		<key>UUID</key>
		<string>A306641A-E2ED-45D1-8D24-77939A18FD1C</string>
	</dict>
</array>
</plist>
