<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-huntroyale.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-02-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-02-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-02-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CC035ED8-6A58-491B-AC2B-E8B0AFCB2258</string>
		<key>EndDate</key>
		<date>2023-02-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>81C6CA3F-FACA-47BE-946D-605DE0C2D52E</string>
		<key>EndDate</key>
		<date>2023-02-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>56F6153B-5DC9-48DA-BA2C-66DE0DE9D65B</string>
		<key>EndDate</key>
		<date>2023-02-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>38889365-2145-447F-9E49-26A1871DE9D5</string>
		<key>EndDate</key>
		<date>2023-02-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>03181AFE-BC2D-4C4D-99ED-387B8E07CFA6</string>
		<key>EndDate</key>
		<date>2023-02-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>00068EDD-EE4A-495F-9F30-553E3EA718ED</string>
		<key>EndDate</key>
		<date>2023-02-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>024A75BC-DF76-4353-A2A0-B224DF41919D</string>
		<key>EndDate</key>
		<date>2023-02-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B47A8B52-CD19-4D63-898A-A29078505B01</string>
		<key>EndDate</key>
		<date>2023-02-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0EF1B1DB-FE8C-409F-A745-D94FB39813A0</string>
		<key>EndDate</key>
		<date>2023-02-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C9E894B3-CEB4-4E2B-9329-803E5594F381</string>
		<key>EndDate</key>
		<date>2023-02-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>375BC935-79F9-4BCD-966C-46DB840A6C06</string>
		<key>EndDate</key>
		<date>2023-02-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>52260E23-BBD7-47D2-BC94-B581B6891C12</string>
		<key>EndDate</key>
		<date>2023-02-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F61EB71A-ADEA-4465-9BC0-51CEDC52CB80</string>
		<key>EndDate</key>
		<date>2023-02-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>856CC1B8-7EE9-44EE-9460-286D6EB21489</string>
		<key>EndDate</key>
		<date>2023-02-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>95F96ADC-6634-4D51-8715-4102F213F784</string>
		<key>EndDate</key>
		<date>2023-02-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A2CDBCFD-E38F-44A9-9672-D3E5ABC496A9</string>
		<key>EndDate</key>
		<date>2023-01-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FA5AC584-52E8-47C6-A068-6DE7227605FF</string>
		<key>EndDate</key>
		<date>2023-02-27T15:59:59Z</date>
	</dict>
</array>
</plist>
