<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-nikke.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-03-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-03-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C4DFDDCD-DDD7-4F43-AEBF-78F64895FB6F</string>
		<key>EndDate</key>
		<date>2023-03-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8B44725F-59DE-443F-B94D-76363F4A0A9E</string>
		<key>EndDate</key>
		<date>2023-03-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3884EA2C-EE55-4BA9-8F33-5A601B31E85E</string>
		<key>EndDate</key>
		<date>2023-02-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9DB0B673-C775-42DA-B91B-8B8D49D8FC4D</string>
		<key>EndDate</key>
		<date>2023-02-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F54F985A-8BED-4A2F-AF81-EEEC0CF47FA9</string>
		<key>EndDate</key>
		<date>2023-02-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C569F5E4-BA47-4B9A-B4E9-2070261CB772</string>
		<key>EndDate</key>
		<date>2023-02-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3AECD7FE-806E-4644-B952-C0921C065F63</string>
		<key>EndDate</key>
		<date>2023-02-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2AAC1742-F548-42D4-81D8-94FC69A69704</string>
		<key>EndDate</key>
		<date>2023-02-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8080174D-55AD-4B18-AF73-37739A581892</string>
		<key>EndDate</key>
		<date>2023-02-13T15:59:59Z</date>
	</dict>
</array>
</plist>
