<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C4AF2400-A1A5-4FED-A03F-5B0262A8886A</string>
		<key>EndDate</key>
		<date>2022-10-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1389AA99-0A06-430D-827D-1539EBF7CC59</string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D15942F7-522E-435E-ACC4-629A5368DFA2</string>
		<key>EndDate</key>
		<date>2022-10-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C7584AD3-A849-43A3-9B1E-0A8CEA0DE40A</string>
		<key>EndDate</key>
		<date>2022-10-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0C6BC46B-B170-4E51-8EB4-9FC367A6FF5A</string>
		<key>EndDate</key>
		<date>2022-10-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8A483DEF-85EA-45BC-B371-112A67B17D2D</string>
		<key>EndDate</key>
		<date>2022-10-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F4E8B1BD-B290-4257-8D50-F7CD20BF1267</string>
		<key>EndDate</key>
		<date>2022-10-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C419F132-A92D-4EA2-AEC0-852C6E89129C</string>
		<key>EndDate</key>
		<date>2022-10-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7858ECDB-0D6F-4398-8840-9A30A163F8A7</string>
		<key>EndDate</key>
		<date>2022-10-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B98AA7AB-773A-4CA6-AE92-982F6F9A1DC7</string>
		<key>EndDate</key>
		<date>2022-10-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>69342E09-12C1-43C0-9A94-086BF8881FD9</string>
		<key>EndDate</key>
		<date>2022-10-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2F08760E-6F22-4E35-BFFE-EBB3AD2C1906</string>
		<key>EndDate</key>
		<date>2022-09-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4B3C9498-E95C-4311-BCF7-A9055B246204</string>
		<key>EndDate</key>
		<date>2022-09-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>00725043-907F-4C05-8C82-931C296758BE</string>
		<key>EndDate</key>
		<date>2022-09-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B03C3AF5-8A9E-44C9-A4F8-095F400B0EE2</string>
		<key>EndDate</key>
		<date>2022-09-23T15:59:59Z</date>
	</dict>
</array>
</plist>
