<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>

		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-legendarymasteridle.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ashqcoghmckipw8/uuids-virawu.plist?dl=1</string>

		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-07-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-07-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C9F3595A-891A-4E33-9BA8-8B7177C46F93</string>
		<key>EndDate</key>
		<date>2023-07-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7E1629FB-F863-41FF-9CFC-0707A656CB47</string>
		<key>EndDate</key>
		<date>2023-07-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>36D30765-3A0C-47D1-AAED-5E4A82CA9195</string>
		<key>EndDate</key>
		<date>2023-07-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>454038D4-0B2A-4FE1-9B3B-A8E4634F9BAB</string>
		<key>EndDate</key>
		<date>2023-07-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FA859983-FDD3-436F-BE5F-CE5F41670F1F</string>
		<key>EndDate</key>
		<date>2023-07-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>416B2DEB-8624-4F71-BCAB-083F4949DA1E</string>
		<key>EndDate</key>
		<date>2023-07-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9DF65F02-0858-456F-B4B4-038974D6B5FA</string>
		<key>EndDate</key>
		<date>2023-06-26T15:59:59Z</date>
	</dict>
</array>
</plist>
