<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>556BC29D-621D-439B-9944-99CA27F3EFF7</string>
	<string>2AB2A662-0803-4A6C-AC4E-8643AB39282D</string>
	<string>DBF1F368-F58C-4B89-8F5C-5ECB1EFD72A8</string>
	<string>E4742C7C-B4B4-4E4F-86FE-7C27DB2B3FE6</string>
	<string>B896BA06-1C8D-40BA-B29B-B31AD4174508</string>
	<string>A9E30257-7EF6-44F1-A4AB-36F7AA6B0B67</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
</array>
</plist>
