<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-neonabyss.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>985FE058-1DD0-4425-BF1A-4A90EC18B145</string>
		<key>EndDate</key>
		<date>2023-12-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>92FF3CED-266B-4F5C-82AC-0D6A1A2FC661</string>
		<key>EndDate</key>
		<date>2023-12-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1F670087-0EBB-4247-8228-AF86521ECF16</string>
		<key>EndDate</key>
		<date>2023-12-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3DEAFE28-8C7C-45BF-80AE-1B762AACFF3E</string>
		<key>EndDate</key>
		<date>2023-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5DB688D6-6056-4DE4-AB6B-4BEE70C0911A</string>
		<key>EndDate</key>
		<date>2023-11-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8812D1A9-DF03-4B2D-AEA2-C00284AE8651</string>
		<key>EndDate</key>
		<date>2023-11-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2C5540B9-AB8E-4C64-8E8B-6388BDC35E45</string>
		<key>EndDate</key>
		<date>2023-11-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>61D246DE-0D5F-427D-83B1-9022B3405422</string>
		<key>EndDate</key>
		<date>2023-11-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5BD7A551-A44C-4111-95CE-94B9794DB873</string>
		<key>EndDate</key>
		<date>2023-11-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2132F1DD-C10C-42F9-AB14-F5E09BCD121E</string>
		<key>EndDate</key>
		<date>2023-11-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>95CBDD39-AFD5-4C53-96E8-8C2E762BD769</string>
		<key>EndDate</key>
		<date>2023-11-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6C8AF182-9C68-4FA3-9358-206873E7D44B</string>
		<key>EndDate</key>
		<date>2023-11-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3F46D843-1B76-4567-AE09-426A868B23E3</string>
		<key>EndDate</key>
		<date>2023-11-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>60C2CF72-30FE-4402-82E9-9D627988EED7</string>
		<key>EndDate</key>
		<date>2023-11-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>866A62D2-8B7F-44AC-A648-4278CEFE21B3</string>
		<key>EndDate</key>
		<date>2023-11-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B0071EA4-E9A7-4261-97A7-26FD82D914E4</string>
		<key>EndDate</key>
		<date>2023-11-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EAD88A2F-AECC-48CE-99DB-11FF657F7E6F</string>
		<key>EndDate</key>
		<date>2023-11-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3223725D-3DED-42F4-819C-B7DA7B15E1DE</string>
		<key>EndDate</key>
		<date>2023-11-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9C0D23A1-842D-4943-9699-FAE7B3F35C5A</string>
		<key>EndDate</key>
		<date>2023-11-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>872054F0-4F7B-4BD6-9D60-40772DF2A934</string>
		<key>EndDate</key>
		<date>2023-12-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B72A5357-B27B-4FC7-8DEA-00CE61761B0E</string>
		<key>EndDate</key>
		<date>2023-11-10T15:59:59Z</date>
	</dict>
</array>
</plist>
