<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>EDD26949-69DC-468A-871A-AFFA71883058</string>
	<string>9E46C016-744B-423D-8E48-180825E73745</string>
	<string>4261FEB1-2C9F-4FB9-8F23-A2C1F0DFB036</string>
	<string>FBB4FD0D-F233-4D94-B65F-022626F2E716</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
</array>
</plist>
