<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>2</integer>
				<key>limit</key>
				<string>10</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-wildriftvn.plist</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/scl/fi/q9r2tdn3xo50jdfj82gk3/uuids-vongoc-2.plist?rlkey=iywmncc7ppcqardoa3psx5200&amp;dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>068EFA38-92E8-46C4-AE9A-07D09F86A87B</string>
		<key>EndDate</key>
		<date>2023-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3C8EF2F5-114F-4FAB-B39C-FEE2F4DF5580</string>
		<key>EndDate</key>
		<date>2023-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>48776355-E8A2-4C2F-B717-618D248EECD9</string>
		<key>EndDate</key>
		<date>2023-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>ACDD9122-19C9-4199-B97B-0FCB274C8087</string>
		<key>EndDate</key>
		<date>2023-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D56A1AC6-1C6A-4F37-BAB7-DC86F9E9ACB0</string>
		<key>EndDate</key>
		<date>2023-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E1473E91-2C26-4D0A-9740-4ACF684CDAFF</string>
		<key>EndDate</key>
		<date>2023-12-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>411D31A1-6FEC-4519-B16D-E35D22D5757E</string>
		<key>EndDate</key>
		<date>2023-12-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E4BDE41A-EE3E-421A-AE4D-9029D9FF0F46</string>
		<key>EndDate</key>
		<date>2023-12-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FA5DE3E9-43EE-45CC-905E-83C6E604885C</string>
		<key>EndDate</key>
		<date>2023-12-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3ADD9EB8-626F-4D82-80B0-D189D7A8DCFA</string>
		<key>EndDate</key>
		<date>2023-12-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0B1EECB0-1F46-4040-A52A-5DEA0007EC20</string>
		<key>EndDate</key>
		<date>2023-12-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FD876C62-346E-4773-87FC-07609A179EEF</string>
		<key>EndDate</key>
		<date>2023-11-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FC5A3743-CFDD-4227-B96A-BF0A2EFCB179</string>
		<key>EndDate</key>
		<date>2023-11-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EF78E923-5C29-4C6F-96DE-64A2B9E91FE1</string>
		<key>EndDate</key>
		<date>2023-11-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>02FA82A2-B64E-444A-AD33-A46709CFF37C</string>
		<key>EndDate</key>
		<date>2023-11-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BE283D15-8F17-40F2-AF5C-4E62F41E0709</string>
		<key>EndDate</key>
		<date>2023-11-29T15:59:59Z</date>
	</dict>
</array>
</plist>
