<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-nikke.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4346569F-5276-4D02-9178-47C708849671</string>
		<key>EndDate</key>
		<date>2023-05-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0F78725B-0D9F-4839-BBEC-6C6797F77D1E</string>
		<key>EndDate</key>
		<date>2023-05-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2909E005-766E-4CD2-A9C6-19CC819DD318</string>
		<key>EndDate</key>
		<date>2023-05-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7BA87E07-A4DF-4801-9F3D-E404627FD455</string>
		<key>EndDate</key>
		<date>2023-05-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1CC876D0-6B30-4FFE-87B0-2512B16AD94A</string>
		<key>EndDate</key>
		<date>2023-05-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2716EC5B-2417-4AB9-8B7A-2014C21124FB</string>
		<key>EndDate</key>
		<date>2023-04-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A4990D2C-9FDF-447C-A574-7EA98DC584F9</string>
		<key>EndDate</key>
		<date>2023-05-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EADC7E35-B47D-47B7-B0FC-8646A2643F16</string>
		<key>EndDate</key>
		<date>2023-06-09T15:59:59Z</date>
	</dict>
</array>
</plist>
