<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-sausagecn.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking1.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh1.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-05-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-05-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-05-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5238B1B8-A3FD-4539-AA89-653F4298A67A</string>
		<key>EndDate</key>
		<date>2024-05-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4AC2E144-3799-488E-AD01-A16C8B1BB673</string>
		<key>EndDate</key>
		<date>2024-05-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>852E8345-66F6-43A3-B6EA-6D9E225B47BC</string>
		<key>EndDate</key>
		<date>2024-05-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>20FC4A89-3930-41F8-ADA5-4D9514AFBA30</string>
		<key>EndDate</key>
		<date>2024-04-28T15:59:59Z</date>
	</dict>
</array>
</plist>
