<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-sausagecn.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking1.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh1.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9AFB03BF-03C6-4041-B277-ECF4FCD2BC75</string>
		<key>EndDate</key>
		<date>2023-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>86F6E412-CDCC-4815-8CCE-8816BD14EC34</string>
		<key>EndDate</key>
		<date>2024-01-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2182BA8F-9A25-465E-B78B-2DD886A30FA3</string>
		<key>EndDate</key>
		<date>2023-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0DCA33BA-3C89-4274-9989-149CBBD71A5F</string>
		<key>EndDate</key>
		<date>2023-12-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2976CE94-A01A-4542-A00E-8611FD3A53FE</string>
		<key>EndDate</key>
		<date>2023-10-31T15:59:59Z</date>
	</dict>
</array>
</plist>
