<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<dict>
		<key>UUID</key>
		<string>8E3FC382-712D-4EC9-9AA6-3E6210380F4D</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-11-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>89AD7F9B-BBE0-464B-A05A-72A7386153FC</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-11-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>960A37C9-A04C-4C8A-9204-7B244051476B</string>
		<key>EndDate</key>
		<date>2021-11-17T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5C4A0A42-2A56-429D-B02A-D6C260755B8D</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>04D431C8-77A3-46BB-A582-E86057DCAF86</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>14E4EF46-E784-40DF-B30E-06159EC91B65</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2021-12-03T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>13444CAE-545F-4763-94CE-06324EACAE81</string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>38CF556C-C520-4228-B32D-14E3E64708A3</string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
