<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>

		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-lastwizard.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-01-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-01-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A8CDECAF-4301-418F-B99E-E9746C6765EB</string>
		<key>EndDate</key>
		<date>2024-02-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6ECA646E-ABF5-4EFB-8ABA-38DE5A935B88</string>
		<key>EndDate</key>
		<date>2024-02-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>07F85C37-E22E-444B-BAA2-8B210B50C6B9</string>
		<key>EndDate</key>
		<date>2024-01-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F6192708-9D04-430C-83C1-56C00E4805F5</string>
		<key>EndDate</key>
		<date>2024-01-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2AE1D327-B239-4FDC-853B-2126B28939D7</string>
		<key>EndDate</key>
		<date>2024-01-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E3D55A51-A9FE-4226-A297-87D02FD59261</string>
		<key>EndDate</key>
		<date>2024-01-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3CBDEBAD-46EE-4588-A811-E3EA7C14A429</string>
		<key>EndDate</key>
		<date>2024-01-14T15:59:59Z</date>
	</dict>
</array>
</plist>
