<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>7C533051-0613-4B57-BA11-FDECBBC311F8</string>
	<string>A65B1A3B-EE6E-4E8E-92AD-064ECE141D87</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string>91F0B179-305E-4D93-AA76-AB5114F757AA</string>
	<string></string>
	<dict>
		<key>UUID</key>
		<string>B64A4016-37A0-4F0C-8455-837237546513</string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
