<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>7</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>8</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>9</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-kgtwjb.plist</string>
			<string>https://www.dropbox.com/s/t0fakcc2km6levz/uuids-kgtw.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
		</array>
		<key>Devices</key>
		<dict>
			<key>35</key>
			<dict>
				<key>hor</key>
				<integer>18</integer>
				<key>ver</key>
				<integer>2</integer>
				<key>sz</key>
				<string>111</string>
			</dict>
			<key>41</key>
			<dict>
				<key>hor</key>
				<integer>18</integer>
				<key>ver</key>
				<integer>2</integer>
				<key>sz</key>
				<string>111</string>
			</dict>
			<key>26</key>
			<dict>
				<key>hor</key>
				<integer>30</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>27</key>
			<dict>
				<key>hor</key>
				<integer>30</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>32</key>
			<dict>
				<key>hor</key>
				<integer>30</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>46</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>44</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>36</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>37</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>39</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>42</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>33</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>38</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>40</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>47</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>45</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-07-18T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-07-18T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8A9B244A-0D89-4D12-9498-4D57B19A8575</string>
		<key>EndDate</key>
		<date>2024-07-06T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9235D5C0-3F99-4C02-9BDF-FCC7738E3A4A</string>
		<key>EndDate</key>
		<date>2024-07-03T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>452DC9E7-3763-4032-8856-41B9A1D575D8</string>
		<key>EndDate</key>
		<date>2024-07-02T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D667C134-D8BA-4AAD-8AE0-48CDA945B750</string>
		<key>EndDate</key>
		<date>2024-06-29T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4C0081A8-F3BD-41E2-80AF-EC09F3BE0486</string>
		<key>EndDate</key>
		<date>2024-06-29T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4E098335-AD23-454F-8042-6491A516A900</string>
		<key>EndDate</key>
		<date>2024-07-21T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D512F9DA-BAAF-4E69-9F41-C02422FE6718</string>
		<key>EndDate</key>
		<date>2024-07-21T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>76761D4B-748C-4F53-83FC-82FB410480D7</string>
		<key>EndDate</key>
		<date>2024-07-21T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>83F98FBE-09FC-45AB-B06D-B45A7F94FD02</string>
		<key>EndDate</key>
		<date>2024-06-13T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9235D5C0-3F99-4C02-9BDF-FCC7738E3A4A</string>
		<key>EndDate</key>
		<date>2024-06-04T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>90ECB645-FC24-4C33-BB71-FC10AEDD83A5</string>
		<key>EndDate</key>
		<date>2024-06-04T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4A76B8BB-CA2A-4D7C-98A6-D25AB7AB122C</string>
		<key>EndDate</key>
		<date>2024-07-28T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>452DC9E7-3763-4032-8856-41B9A1D575D8</string>
		<key>EndDate</key>
		<date>2024-05-28T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A37404DD-8B2E-436B-A6F7-FC6425F45135</string>
		<key>EndDate</key>
		<date>2024-07-24T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E487141F-D96F-4B3F-9AFA-93FD33F061EE</string>
		<key>EndDate</key>
		<date>2024-05-27T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FD0F6E98-D68F-490F-84CE-2D50C0E44926</string>
		<key>EndDate</key>
		<date>2024-08-20T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
