<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>135</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>6</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-kgtw.plist</string>
			<string>https://www.dropbox.com/s/t0fakcc2km6levz/uuids-kgtw.plist?dl=1</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ysfqui5lonkq79t/uuids-gaomh2.plist?dl=1</string>
			<string>https://www.dropbox.com/s/2n8szx0s0ldblkn/uuids-hsj.plist?dl=1</string>
		</array>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-07-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-07-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8971D42B-7A73-468E-B481-DDFD6C3A7E8B</string>
		<key>EndDate</key>
		<date>2022-07-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>145C77FE-A068-4D4A-BCD5-CACE950492F2</string>
		<key>EndDate</key>
		<date>2022-07-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>436956D3-C012-40E6-8630-D43E65B2AF3F</string>
		<key>EndDate</key>
		<date>2022-07-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2686C6EE-33A1-40EA-9B44-ABDD34672AAD</string>
		<key>EndDate</key>
		<date>2022-07-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3BED6FCE-D917-4093-AD6E-382808B7C0D0</string>
		<key>EndDate</key>
		<date>2022-07-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0030001C-E894-4D1A-AC11-7A19ED4D848A</string>
		<key>EndDate</key>
		<date>2022-07-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2A76B336-4B31-4F3A-9405-376E5CD54EFA</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3858ED7A-AB86-4D97-890A-B9FE25409DDC</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>233D1FEC-D39A-498F-9524-34A336EE6D87</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E7F290A6-C057-4CE6-A5C8-BDCBC4CC984F</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>54F5A208-2B6D-4C3E-B5E3-CDDBEB7F8754</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>ACC53186-E759-48DC-9628-2700FBA5EFB8</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5F24F774-14E0-4CAE-936C-51BB99C0C028</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A80D9F04-09BC-4F1C-BD6D-0BB331CBC35A</string>
		<key>EndDate</key>
		<date>2022-06-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4252059E-4789-4EDE-87A9-BFC30F008A5E</string>
		<key>EndDate</key>
		<date>2022-06-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7DE7D7BB-F79D-44E6-AAE8-0EFA6AEAE4BA</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>68233B4D-C6D2-4658-9064-D60EAA7C0459</string>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8DE22336-B238-4957-B523-41A814DE7C1C</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DFC9C248-3E6F-47C2-9B72-220A880BEAB1</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2725AE82-0DA2-4233-9689-941E559506B5</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C6EC7D20-A0E5-4137-A2CC-19499B339785</string>
		<key>EndDate</key>
		<date>2022-07-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6BCB169B-56AE-43E8-AE88-10DE8F716C7F</string>
		<key>EndDate</key>
		<date>2022-07-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AFA7D06D-948D-44E3-9805-F48D73DDA2A6</string>
		<key>EndDate</key>
		<date>2022-07-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0E2645F0-9470-4697-98E4-0F5FC45E158C</string>
		<key>EndDate</key>
		<date>2022-07-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E72C6A16-5DE0-4C76-97C0-637A02C04983</string>
		<key>EndDate</key>
		<date>2022-07-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>23760F85-7BC1-402F-9886-7AE4808A2450</string>
		<key>EndDate</key>
		<date>2022-07-18T15:59:59Z</date>
	</dict>
</array>
</plist>
