<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-jumpsssemble.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-05-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-05-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FE6FD2F2-9DD9-491E-A289-198FED384ACC</string>
		<key>EndDate</key>
		<date>2024-05-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>79CF1B57-919C-4F26-8EEB-C5C83C782071</string>
		<key>EndDate</key>
		<date>2024-04-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7EAD09EF-FF71-4352-B665-7CAD2AFE506D</string>
		<key>EndDate</key>
		<date>2024-04-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C8F404AC-25EA-4702-9CF2-65A47B70E8BA</string>
		<key>EndDate</key>
		<date>2024-04-30T15:59:59Z</date>
	</dict>
</array>
</plist>
