<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-04-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-04-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-02-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>88A5DB93-BC99-49B4-AA6D-3CA2BEA35FD8</string>
		<key>EndDate</key>
		<date>2022-10-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2675C17B-43E9-4799-A58B-88E27B01F973</string>
		<key>EndDate</key>
		<date>2022-10-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5650D3ED-7C3B-4C23-B2C7-69CDC49BA64E</string>
		<key>EndDate</key>
		<date>2022-10-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0106EFA9-9CBC-4939-8F90-438F4ACB00E9</string>
		<key>EndDate</key>
		<date>2022-09-27T15:59:59Z</date>
	</dict>
</array>
</plist>
