<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>10</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-kgeu.plist</string>
			<string>https://www.dropbox.com/s/t0fakcc2km6levz/uuids-kgtw.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/tsyz52ch0ua0yva/uuids-hsj.plist?dl=1</string>
			<string>https://www.dropbox.com/s/gm4nrfm12lgc0i9/uuids-gaomh2%202.plist?dl=1</string>
			<string>https://www.dropbox.com/s/qio853z3oipr6xa/uuids-linyz.plist?dl=1</string>
			<string>https://www.dropbox.com/s/8tt3bsotqrdb325/uuids-kgeu-NTG.plist?dl=1</string>
		</array>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-06-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-06-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-06-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>768751EF-B1F4-43C4-AB6E-D4B4CD04C7DF</string>
		<key>EndDate</key>
		<date>2023-05-21T15:59:59Z</date>
	</dict>
	<string>NTG 5 slot start</string>
	<dict>
		<key>UUID</key>
		<string>F86D2A4E-9C54-4F3E-86C4-F49E0ED0B300</string>
		<key>EndDate</key>
		<date>2023-05-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D439C937-FF8C-4455-8016-959421797D20</string>
		<key>EndDate</key>
		<date>2023-05-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>581A66A3-0EC8-4051-BC8F-36A772ED2A7C</string>
		<key>EndDate</key>
		<date>2023-05-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>14411C35-013E-4F15-9755-A60F12A61645</string>
		<key>EndDate</key>
		<date>2023-05-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4CAD5007-A65A-4715-AC35-F4EE61752D78</string>
		<key>EndDate</key>
		<date>2023-05-30T15:59:59Z</date>
	</dict>
	<string>NTG 5 slot end</string>
	<dict>
		<key>UUID</key>
		<string>ADC799AE-AFC4-4F62-AC0D-0FECBEA5D93C</string>
		<key>EndDate</key>
		<date>2023-08-02T15:59:59Z</date>
	</dict>
</array>
</plist>
