<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-huntroyale.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7DEEE9DF-27ED-4F0C-82E4-667C75915687</string>
		<key>EndDate</key>
		<date>2023-11-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DA32AF85-D33E-4238-B8A0-BF0EC600BE53</string>
		<key>EndDate</key>
		<date>2023-11-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CBBD2053-C9ED-4ED1-94F1-1BAFC167CF00</string>
		<key>EndDate</key>
		<date>2023-11-06T15:59:59Z</date>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2023-11-01T13:50:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴黃國溢</string>
		<key>UUID</key>
		<string>3EF68ACD-0405-421D-BDC2-4F9AC068EBA0</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>11BA9CE2-BC1D-4A41-9248-59FD2BA811CA</string>
		<key>EndDate</key>
		<date>2023-10-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BCDEC27D-2B83-45EB-A628-C3F4DE71EBC1</string>
		<key>EndDate</key>
		<date>2023-11-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BAFCD248-2837-4628-B520-7150EF1E11A5</string>
		<key>EndDate</key>
		<date>2023-10-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>98676B53-DB05-489B-A9BF-5C86C10FA627</string>
		<key>EndDate</key>
		<date>2023-11-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F1EDF875-7D52-4E84-878E-B1CE04642227</string>
		<key>EndDate</key>
		<date>2023-11-02T15:59:59Z</date>
	</dict>
</array>
</plist>
