<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>

		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-neonabyss.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3223725D-3DED-42F4-819C-B7DA7B15E1DE</string>
		<key>EndDate</key>
		<date>2023-11-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A14B522F-521A-4285-B2B9-592B63D1D04A</string>
		<key>EndDate</key>
		<date>2023-11-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>25CE34CC-B515-4C4B-BFA3-53F2C92B128C</string>
		<key>EndDate</key>
		<date>2023-11-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B72A5357-B27B-4FC7-8DEA-00CE61761B0E</string>
		<key>EndDate</key>
		<date>2023-11-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AB15DB0F-709F-40D8-92E2-AFF261748F23</string>
		<key>EndDate</key>
		<date>2023-11-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6808F7C8-169B-48C7-A5F1-66C8FB788743</string>
		<key>EndDate</key>
		<date>2023-11-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FA2A41B8-5FEC-467D-9982-016A0A90C371</string>
		<key>EndDate</key>
		<date>2023-11-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FA2A41B8-5FEC-467D-9982-016A0A90C371</string>
		<key>EndDate</key>
		<date>2023-11-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AC00C2C3-0CC0-48F9-B28F-918D40B171E0</string>
		<key>EndDate</key>
		<date>2023-11-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9E86EF2A-4D0E-4FB3-B01D-4FFA7FB72C1B</string>
		<key>EndDate</key>
		<date>2023-11-05T15:59:59Z</date>
	</dict>
</array>
</plist>
