<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string>51453E95-AC23-4088-8595-F3641E10BD94</string>
		<key>EndDate</key>
		<date>2022-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D07B61EC-D116-45EA-9A43-F0E94CE6FA03</string>
		<key>EndDate</key>
		<date>2022-12-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4FA08E44-8D40-4E4A-8603-7BC8E2870695</string>
		<key>EndDate</key>
		<date>2022-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>47338B1C-405E-4FCF-A8A0-A0360BC6EB20</string>
		<key>EndDate</key>
		<date>2022-12-18T15:59:59Z</date>
	</dict>
        <dict>
		<key>UUID</key>
		<string>77956A61-4F6D-4090-A7A6-161F61F980ED</string>
		<key>EndDate</key>
		<date>2022-11-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A8FA8605-605A-4C92-A9EB-E635D0AD6E80</string>
		<key>EndDate</key>
		<date>2022-11-21T15:59:59Z</date>
	</dict>
</array>
</plist>
