<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-rungoddess.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2025-07-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2025-07-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1AD32C36-66AD-4062-B2BD-4B3A1361C7CF</string>
		<key>EndDate</key>
		<date>2025-07-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A8A763AE-E894-4108-BBCF-2BF2CD42B225</string>
		<key>EndDate</key>
		<date>2025-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9B3721D8-80F8-4766-90EB-179352EF877F</string>
		<key>EndDate</key>
		<date>2025-07-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>107772B6-8C0F-4B06-8A08-4AC98AD279E9</string>
		<key>EndDate</key>
		<date>2025-07-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4FF95A51-119B-4B78-9256-8E8CFB7B11FF</string>
		<key>EndDate</key>
		<date>2025-06-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>28A8E937-7DD5-49D9-BC94-FA5CD9F2E864</string>
		<key>EndDate</key>
		<date>2025-07-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>19FC432C-06D2-4764-ACD6-6F18BF4B71FF</string>
		<key>EndDate</key>
		<date>2025-05-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>741144A0-430D-4F25-914E-AE52C317440A</string>
		<key>EndDate</key>
		<date>2025-05-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FAAD78B9-EE63-4B82-BE15-FE146DABD42D</string>
		<key>EndDate</key>
		<date>2025-05-07T15:59:59Z</date>
	</dict>
</array>
</plist>
