<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0CC5F95F-7BCE-4CD6-ABCE-B7E0E0A48E3A</string>
		<key>EndDate</key>
		<date>2022-11-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9BBB161E-40D8-4FF3-97E3-0306014F4618</string>
		<key>EndDate</key>
		<date>2022-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>89D2089A-21F0-4094-A136-FD3FDFE3D376</string>
		<key>EndDate</key>
		<date>2022-12-06T15:59:59Z</date>
	</dict>
</array>
</plist>
