<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-huntroyale.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-07-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-07-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-07-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E291F5AF-2412-43E3-9240-EB59FCA772D3</string>
		<key>EndDate</key>
		<date>2024-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>06061461-90AD-4BCC-8602-D4ECC1756904</string>
		<key>EndDate</key>
		<date>2024-07-17T15:59:59Z</date>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2024-08-07T06:45:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方L黃國溢</string>
		<key>UUID</key>
		<string>44E6B6D9-B93E-43B3-A9B7-B1E4855B8015</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C5C13733-4A15-45DE-BCED-DD55FDF75361</string>
		<key>EndDate</key>
		<date>2024-06-23T15:59:59Z</date>
	</dict>
</array>
</plist>
