<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-firenow.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2025-08-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2025-08-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D38918ED-94EE-43D8-A183-FBB8820F40BC</string>
		<key>EndDate</key>
		<date>2025-09-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4D1BC7DE-AC75-4612-8E7C-42754C1E4D4B</string>
		<key>EndDate</key>
		<date>2025-08-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>813F5380-39E4-488A-B5E5-98756572FD00</string>
		<key>EndDate</key>
		<date>2025-08-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E59D2EAE-C10E-48E5-8AAA-3C7077453AD7</string>
		<key>EndDate</key>
		<date>2025-08-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B4975D06-984C-46D2-85AC-690FA44672FE</string>
		<key>EndDate</key>
		<date>2025-09-07T15:59:59Z</date>
	</dict>
</array>
</plist>
