<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-tosapk.plist</string>
			<string>https://www.dropbox.com/s/8nxjirc0qi79hw5/uuids-tos.plist?dl=1</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/b7cj2mwfjsw0czn/uuids-chenyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2026-04-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2026-04-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A5A39B8F-D6B3-4E13-8C23-F9B052088D8A</string>
		<key>EndDate</key>
		<date>2026-04-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F1EB8D31-2332-44D9-8C76-81ED0AA868C8</string>
		<key>EndDate</key>
		<date>2026-04-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B4DA9FB3-6A59-424E-A9F0-823E0A558829</string>
		<key>EndDate</key>
		<date>2026-04-02T15:59:59Z</date>
	</dict>
</array>
</plist>
