<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>50</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<string>Nguyễn Thành Nguyên</string>
	<dict>
		<key>UUID</key>
		<string>A80AFB08-4C35-4143-AD9C-82EF46A0BDF7</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2853556E-386E-4151-9A03-3E4024ECBBDF</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8086EFB1-C839-4C11-8294-A78D82D2AF49</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>58BF9B55-8FD6-4BC1-AA19-93179E287C82</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5EF00422-6011-4EF4-9132-617F7A028E75</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>80E0BF99-C3A0-4823-87AF-43A50C00C0E5</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8CF42802-05C1-4306-A587-75427CE3828C</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B573C070-328E-45E1-A18A-F3C977E49307</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5F4554AB-AB22-42FC-9914-4BFD6E7013E8</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>addkey</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>addkey</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-03T15:59:59Z</date>
	</dict>
	<string></string>
</array>
</plist>
