<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>

		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-slimelegion.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ashqcoghmckipw8/uuids-virawu.plist?dl=1</string>

		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>81709D9A-1667-47E0-B9E6-935523956753</string>
		<key>EndDate</key>
		<date>2023-05-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3AE55B40-BCF9-431C-902D-B72049FED728</string>
		<key>EndDate</key>
		<date>2023-05-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>45BD1932-B636-4484-8136-E027D1E78B50</string>
		<key>EndDate</key>
		<date>2023-05-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CFBAC0EE-4D82-4EDA-8A83-4262B6E5D109</string>
		<key>EndDate</key>
		<date>2023-05-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EC51F254-B64E-4D5D-9137-8A4E3891961C</string>
		<key>EndDate</key>
		<date>2023-05-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6F7CCC91-3BBA-4044-A620-EB2DAAC53ED4</string>
		<key>EndDate</key>
		<date>2023-06-06T15:59:59Z</date>
	</dict>
</array>
</plist>
