<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<string>SuperWizard</string>
	<string>Kylo Ran</string>
	<dict>
		<key>UUID</key>
		<string>817209B5-C6EC-4133-921C-8DB7734D905A</string>
		<key>EndDate</key>
		<date>2022-05-02T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F266FE99-B07C-46CA-87B2-BB3D4DC9D397</string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<string>cyc</string>
	<dict>
		<key>UUID</key>
		<string>1A3369EF-3741-4AC3-9501-82F964DB5A97</string>
		<key>EndDate</key>
		<date>2022-05-01T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C66B5AF7-67AE-4FBF-B108-5EEC78663EC4</string>
		<key>EndDate</key>
		<date>2022-05-23T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5373B317-7690-4FCC-A232-10772CA16A74</string>
		<key>EndDate</key>
		<date>2022-05-23T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CA29A89F-A72E-4415-B073-DD96DEC20DA7</string>
		<key>EndDate</key>
		<date>2022-05-23T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F5D609C3-8AA1-420E-99CB-068E41AD9FCD</string>
		<key>EndDate</key>
		<date>2022-05-24T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0592AFFB-9A9F-4B5F-B76B-85A7FD611024</string>
		<key>EndDate</key>
		<date>2022-05-24T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6BE80AE0-3B07-4DFD-A522-CEA7CC4533C7</string>
		<key>EndDate</key>
		<date>2022-05-24T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E6D2A9AE-2BBD-4C39-B3D9-04C0D3C829E4</string>
		<key>EndDate</key>
		<date>2022-05-25T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A279EBA4-B3AD-4D8D-9341-3B56EE396E1B</string>
		<key>EndDate</key>
		<date>2022-05-26T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7DE700D5-4A58-4296-9653-4FD31686FDFB</string>
		<key>EndDate</key>
		<date>2022-05-26T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8DF81768-3E20-4047-AA40-2879FCBB4550</string>
		<key>EndDate</key>
		<date>2022-05-27T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-29T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<string></string>
</array>
</plist>
