<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-t3arena.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
		</array>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BF0252C3-6AA1-4770-AB6A-45F0265EB11D</string>
		<key>EndDate</key>
		<date>2023-11-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-11-11T05:55:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴士騰</string>
		<key>UUID</key>
		<string>5AC9D0B6-33FB-4064-B9E0-BC930BFFD8E7</string>
	</dict>	
	<dict>
		<key>UUID</key>
		<string>D6287250-37C8-484B-901B-C03A0884BCC5</string>
		<key>EndDate</key>
		<date>2023-11-09T15:59:59Z</date>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2023-10-28T09:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>蝦esrup1020</string>
		<key>UUID</key>
		<string>976EAB7A-ED2C-4233-A263-486F3A7D0F41</string>
	</dict>
</array>
</plist>
