<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-t3arena.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
		</array>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-01-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-01-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>66003167-9F5D-4028-ADC3-5C32D608751E</string>
		<key>EndDate</key>
		<date>2023-01-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BEDDF756-3A06-4E4A-9240-54DB1AF840C3</string>
		<key>EndDate</key>
		<date>2023-01-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0317C9F4-631C-4006-9676-62924BB2F68A</string>
		<key>EndDate</key>
		<date>2023-01-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5D1E5735-B640-475F-A223-4285ACF73D75</string>
		<key>EndDate</key>
		<date>2023-01-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5CC731A3-7737-49A7-B7FB-09A1B5BF3ACD</string>
		<key>EndDate</key>
		<date>2023-01-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FE343BE1-75A7-487A-9072-C27B41E90D8D</string>
		<key>EndDate</key>
		<date>2023-01-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D8E9EA30-2FB5-4C06-90C0-21628C769A5C</string>
		<key>EndDate</key>
		<date>2023-01-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0A0CF267-583D-4DF6-BC46-FF36C4B8F7B5</string>
		<key>EndDate</key>
		<date>2023-01-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CBB5C9CE-71B3-4F07-9A30-7E172B13F575</string>
		<key>EndDate</key>
		<date>2023-01-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E3ED0CCE-0AD4-4A8E-B089-AEB7E5F3CBEA</string>
		<key>EndDate</key>
		<date>2023-01-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CBB5C9CE-71B3-4F07-9A30-7E172B13F575</string>
		<key>EndDate</key>
		<date>2023-01-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FDC4ED43-7E53-4C98-9741-985A4AA0EE15</string>
		<key>EndDate</key>
		<date>2023-01-06T15:59:59Z</date>
	</dict>	
	<dict>
		<key>UUID</key>
		<string>F5938D9B-4A5F-402B-BE51-FD2441666F57</string>
		<key>EndDate</key>
		<date>2023-01-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3FA04ADA-1121-42DE-8EAD-4369D265AACB</string>
		<key>EndDate</key>
		<date>2023-01-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>85A93B60-9679-4E0B-A652-C2257D99950E</string>
		<key>EndDate</key>
		<date>2023-01-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>88F89576-4EDF-488A-B40D-0E21F8258817</string>
		<key>EndDate</key>
		<date>2023-01-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E1D0F47C-9EE2-4F04-954C-CCE4E2F1917A</string>
		<key>EndDate</key>
		<date>2023-01-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BB40AC84-15DA-49F7-95C6-CC626930E12B</string>
		<key>EndDate</key>
		<date>2022-12-25T15:59:59Z</date>
	</dict>
</array>
</plist>
