<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-eversoul.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-06-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-06-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-06-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0E16077C-E4C6-4C36-AC1B-248036BB5090</string>
		<key>EndDate</key>
		<date>2023-06-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C91FA472-CEE2-415E-8BD4-14596C564343</string>
		<key>EndDate</key>
		<date>2023-06-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2A3A542F-CBF5-4EB2-AEAE-19911F57B0A8</string>
		<key>EndDate</key>
		<date>2023-07-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3CD684CF-B0E6-43B0-AB8F-34036EFD3667</string>
		<key>EndDate</key>
		<date>2023-06-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CF6AED7B-2F94-4EE4-8CE9-68521384CB11</string>
		<key>EndDate</key>
		<date>2023-06-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>260FF631-7014-4771-AB44-5356E031E688</string>
		<key>EndDate</key>
		<date>2023-06-04T15:59:59Z</date>
	</dict>
</array>
</plist>
