<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-sausagecn.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking1.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh1.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C0C93BCB-A223-43F3-9BC7-7D1EA67FB76D</string>
		<key>EndDate</key>
		<date>2023-05-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2BE91B8B-C1CA-4682-8E60-A859AE1108BA</string>
		<key>EndDate</key>
		<date>2023-05-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5BB55420-6CE6-4B82-9574-279E0D94DDAA</string>
		<key>EndDate</key>
		<date>2023-05-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>540202C3-6CF8-4F6D-AF0C-D4F8040C3403</string>
		<key>EndDate</key>
		<date>2023-05-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A0B68328-C47F-4093-BA2A-EC3FFE419E5B</string>
		<key>EndDate</key>
		<date>2023-04-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DD79EEDC-A1A9-4FF1-804F-05DD68ED75CC</string>
		<key>EndDate</key>
		<date>2023-04-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A2AD0FE5-DDED-5DAA-A6A1-DEEC5C5CD62E</string>
		<key>EndDate</key>
		<date>2023-04-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>01F0D133-D69D-4D06-8658-34D3A9CB144D</string>
		<key>EndDate</key>
		<date>2023-04-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4825A31F-C2BF-4CE6-A55D-80335D8C08ED</string>
		<key>EndDate</key>
		<date>2023-05-06T15:59:59Z</date>
	</dict>
</array>
</plist>
