<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-fortresssaga.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2025-04-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2025-04-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>77AC14F6-56FF-462B-B8EE-0C3D68E8689A</string>
		<key>EndDate</key>
		<date>2025-04-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6CF0B348-462C-40EA-8BFF-6BD685C3694C</string>
		<key>EndDate</key>
		<date>2025-03-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E208B635-880F-418A-8BAB-DB6D31D08496</string>
		<key>EndDate</key>
		<date>2025-03-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A74926F3-C7C1-4756-BA8E-8F1CFAF741BD</string>
		<key>EndDate</key>
		<date>2025-03-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D5E973F7-A3B5-49B9-A3F5-D1732250ABF9</string>
		<key>EndDate</key>
		<date>2025-02-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BCED9CEA-4F73-436F-A1C8-CDCF08EC66A6</string>
		<key>EndDate</key>
		<date>2024-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B7FB5C2E-6D3F-4C67-8BC4-92AA7BB5FFA4</string>
		<key>EndDate</key>
		<date>2024-11-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C5B11330-5133-40AB-9585-3B2F4ABC11C3</string>
		<key>EndDate</key>
		<date>2024-10-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>81CE65B2-C230-483F-9F02-34125AE69638</string>
		<key>EndDate</key>
		<date>2024-10-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>900A59E1-2DE5-4261-BF49-95975193CE5E</string>
		<key>EndDate</key>
		<date>2024-09-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>436B52D3-27B2-4A21-A32B-8CEA87A01B4B</string>
		<key>EndDate</key>
		<date>2025-03-01T15:59:59Z</date>
	</dict>
</array>
</plist>
