<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-plant.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>99A4B0FB-6621-4DFB-A387-79E75E006E84</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>69CEBA78-F0B7-4A26-9FB1-34C49FC1B0F2</string>
		<key>EndDate</key>
		<date>2022-12-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>949B2E3C-7904-404F-8E4C-972DC65D32E5</string>
		<key>EndDate</key>
		<date>2022-12-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8E380747-4A4F-4553-8C9B-8DDD4FB6BBCE</string>
		<key>EndDate</key>
		<date>2022-12-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>94591D75-95A9-4BA3-B95A-141515E28261</string>
		<key>EndDate</key>
		<date>2022-12-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0C32E725-0F8B-4F67-A198-71DD2B902839</string>
		<key>EndDate</key>
		<date>2022-12-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>03731F85-DB16-4C1F-A5E6-875483249DB7</string>
		<key>EndDate</key>
		<date>2022-12-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>23C3D9DF-1C66-4CD3-B6C6-9F4D502B0BE0</string>
		<key>EndDate</key>
		<date>2022-12-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EB826157-D99C-4F2D-AEC3-F6EB42553688</string>
		<key>EndDate</key>
		<date>2022-12-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>29D9AD4F-EDBD-49FE-8794-9DFA61DA7243</string>
		<key>EndDate</key>
		<date>2022-12-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C4734563-BFCC-427F-9666-C6FB86FD215D</string>
		<key>EndDate</key>
		<date>2022-12-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E3D6C719-A001-4A75-8560-4A2D9AB2B222</string>
		<key>EndDate</key>
		<date>2022-12-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>229225A3-EA50-4AC4-8938-3F862CD87861</string>
		<key>EndDate</key>
		<date>2022-12-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>83D1937C-DA04-4ADA-A85C-DF0CD0786E36</string>
		<key>EndDate</key>
		<date>2022-12-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6E168548-1BCD-4ECB-A620-C67FFFA6825C</string>
		<key>EndDate</key>
		<date>2022-12-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>93C47E7C-A663-4C63-A4D2-B4543C1897CA</string>
		<key>EndDate</key>
		<date>2022-12-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CEB20425-C70F-4445-BEDD-5BE8C033188F</string>
		<key>EndDate</key>
		<date>2022-12-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4947B616-5F48-453B-A74C-B5931FA3A533</string>
		<key>EndDate</key>
		<date>2022-12-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CDDF9BC7-CC5C-43F4-9AAB-124B37197F64</string>
		<key>EndDate</key>
		<date>2022-12-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>54CB9BD1-EF4A-4D4B-8187-B1281D25D414</string>
		<key>EndDate</key>
		<date>2022-12-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A0CD1D74-F4AB-4020-BEA5-C848ADB1D7BA</string>
		<key>EndDate</key>
		<date>2022-12-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>61C4424E-3369-43C0-984D-C3CBEDB7DADE</string>
		<key>EndDate</key>
		<date>2022-12-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7C79A3BF-8600-4A80-B11B-2CB1931149FC</string>
		<key>EndDate</key>
		<date>2022-12-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>55422467-ED9B-45B9-B046-5113D2745CBB</string>
		<key>EndDate</key>
		<date>2022-12-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>475A308F-D0A8-48CF-AF97-9DD1B3680E60</string>
		<key>EndDate</key>
		<date>2022-12-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>833DE644-02D5-4658-B8AD-EEAD2CC1B230</string>
		<key>EndDate</key>
		<date>2022-12-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FBB0A1DF-686F-40C8-8896-7417E682950D</string>
		<key>EndDate</key>
		<date>2022-12-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>21D0727C-A541-4BB3-9FA3-F795A61191D9</string>
		<key>EndDate</key>
		<date>2022-12-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6BAD9903-B25E-4F91-9815-CB26F7830F38</string>
		<key>EndDate</key>
		<date>2022-12-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7C826F2D-8E5C-438D-8932-B1660F3E6597</string>
		<key>EndDate</key>
		<date>2022-12-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DA74A47A-374E-4C4B-A237-F683D2945366</string>
		<key>EndDate</key>
		<date>2023-01-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8890D3E6-F9CC-4B0B-A348-260EF24D6569</string>
		<key>EndDate</key>
		<date>2022-12-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C3CF52A1-1E7C-47B1-AF9C-83B5C367EB83</string>
		<key>EndDate</key>
		<date>2022-12-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C3CF52A1-1E7C-47B1-AF9C-83B5C367EB83</string>
		<key>EndDate</key>
		<date>2022-12-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>ABEEEFBA-D874-45C4-9462-8E33C455F9BE</string>
		<key>EndDate</key>
		<date>2022-12-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>49308263-15C2-4EFD-B68F-477B1A9BE19C</string>
		<key>EndDate</key>
		<date>2022-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1CBD79EB-5624-4B71-A97C-37F72396E37C</string>
		<key>EndDate</key>
		<date>2022-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C2183C62-D2F4-4983-8A9C-8177F76AD9F8</string>
		<key>EndDate</key>
		<date>2022-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D72F1378-C69F-45DA-9063-6BB73B0DBA3F</string>
		<key>EndDate</key>
		<date>2022-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BC1CBDBC-DD9B-429A-9595-ED2E968F12F7</string>
		<key>EndDate</key>
		<date>2022-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C04A532A-F077-457B-AF03-C196A5E3C893</string>
		<key>EndDate</key>
		<date>2022-12-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>94059B96-369D-4311-A6F2-F54D892E4803</string>
		<key>EndDate</key>
		<date>2022-12-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>91BF1411-3122-46A4-8AF0-A6C1C8C6CCA9</string>
		<key>EndDate</key>
		<date>2022-12-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C3F9B0F0-6E34-4A3E-87AC-14C1DDAA22E0</string>
		<key>EndDate</key>
		<date>2022-12-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>990B2EA4-413C-4C22-9F34-6125568AF949</string>
		<key>EndDate</key>
		<date>2022-12-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>92990207-B36E-479D-A0F0-C441C6327518</string>
		<key>EndDate</key>
		<date>2022-12-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>87085DF9-16A1-4C1D-857B-D24E475E0151</string>
		<key>EndDate</key>
		<date>2022-12-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C47121E3-66C0-444C-BD05-42945D0DD957</string>
		<key>EndDate</key>
		<date>2022-12-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>62726266-5D41-411D-B7D0-8E9EDCC4D315</string>
		<key>EndDate</key>
		<date>2022-12-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CE79BD5F-2725-4F6F-9463-32661CAC110D</string>
		<key>EndDate</key>
		<date>2022-12-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5B619E5C-1802-4E22-95C2-28B7FD5CDBBD</string>
		<key>EndDate</key>
		<date>2022-12-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>90FBA1BC-8D74-4E10-9DFC-DEC900C95263</string>
		<key>EndDate</key>
		<date>2022-12-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5C58BD50-F71C-4C52-93EF-F2B92FBE26AA</string>
		<key>EndDate</key>
		<date>2022-12-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>499551C0-9D85-4EB1-B329-3989A490283B</string>
		<key>EndDate</key>
		<date>2022-12-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2C0F1927-1265-472F-95A9-1E9F010C63F5</string>
		<key>EndDate</key>
		<date>2022-12-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>74657248-64A6-42CA-95FF-7800CA60607F</string>
		<key>EndDate</key>
		<date>2022-12-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D1CF0DF5-6A17-458E-BC82-C1323ADD7C18</string>
		<key>EndDate</key>
		<date>2022-12-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>49A2BA91-FE67-457D-934F-5B3B375E8FEC</string>
		<key>EndDate</key>
		<date>2022-12-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0E1FB6AB-3A57-4FEE-BFA1-23D5423679C0</string>
		<key>EndDate</key>
		<date>2022-12-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>174C780B-ADD9-406F-B6D8-5769B65AA4B7</string>
		<key>EndDate</key>
		<date>2022-12-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6B047ACF-88E6-4A0D-978A-6B2C4F25EAC5</string>
		<key>EndDate</key>
		<date>2022-12-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E0E8C01D-EB4B-4CEB-9C1A-4C1EC578C921</string>
		<key>EndDate</key>
		<date>2022-12-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B3FB6DDD-BD9F-435B-8369-3ADFB20D5F25</string>
		<key>EndDate</key>
		<date>2022-12-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>363CC13E-AED8-4ACC-8C23-12D17E00D1BE</string>
		<key>EndDate</key>
		<date>2022-12-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>726D95A1-EBD5-4F5B-B68F-49FD3745DEBC</string>
		<key>EndDate</key>
		<date>2022-12-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>152ABC1A-3D3A-419B-A195-31AFE82C81C4</string>
		<key>EndDate</key>
		<date>2022-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8D4D69B7-4F86-4E4E-9F7C-237FDCDA0430</string>
		<key>EndDate</key>
		<date>2022-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>52732AEE-9169-4C61-BD14-BB4E9691B705</string>
		<key>EndDate</key>
		<date>2022-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6DC99822-6276-4573-8A80-2A5C8A187A5A</string>
		<key>EndDate</key>
		<date>2022-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C6F7C9E9-172E-4BCB-923E-7522BD8A3EBA</string>
		<key>EndDate</key>
		<date>2022-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>ACED19F2-E8FD-42D3-B191-1A790352C39D</string>
		<key>EndDate</key>
		<date>2022-12-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A76F8801-EBDB-4BB3-B97C-EF680B31B489</string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B63CBD0F-2981-4C56-B807-FB636066228D</string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8CC72BA9-B42E-4D8F-9531-BA5801DD72B2</string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C1991B4B-4008-4482-ACC9-337493A5C261</string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9213D921-BB09-4400-95C1-EFA4AAA3CB93</string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>276A376D-D4EB-418B-A162-48465B339C62</string>
		<key>EndDate</key>
		<date>2022-12-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FEC0D55A-E381-4390-8CF0-E02B5B7E073D</string>
		<key>EndDate</key>
		<date>2022-12-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5EE51606-F7FD-4EC6-994F-FF2D91112846</string>
		<key>EndDate</key>
		<date>2022-12-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>74839387-70AE-4F43-951C-2B497884F278</string>
		<key>EndDate</key>
		<date>2022-12-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9E2B43AE-C426-4B63-9E86-89E62E8AF8EC</string>
		<key>EndDate</key>
		<date>2022-12-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>270C879E-F11A-4567-AB38-46994CC717DC</string>
		<key>EndDate</key>
		<date>2022-12-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A75456D8-52E0-47CC-BA0F-93B754762C47</string>
		<key>EndDate</key>
		<date>2022-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>27667CA4-B910-4BBA-87F3-243B94C34D0D</string>
		<key>EndDate</key>
		<date>2022-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A4326D1D-4E02-4447-85D6-61F8FDB79E07</string>
		<key>EndDate</key>
		<date>2022-11-30T15:59:59Z</date>
	</dict>
</array>
</plist>
