<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A911CA04-9773-47C6-B1E2-C31F775CA841</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EC20FDEC-10D5-4475-B259-EE8EAB6E33FF</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>45DE7E8C-6AEA-4180-BD3B-3D3932DB0432</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-06-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DF1322A0-B16E-40C1-8BAA-5577CB19C1A2</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-06-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9AC6765E-8551-419C-9260-60893D321FCC</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-06-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5217CD5B-36F1-47EF-8A48-964AC5E08890</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-06-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7465D2DD-6A6B-4FA7-BA85-AD8CD4BEFECD</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A2BC95DC-E87E-4747-8C08-994A9FD28B49</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EF9EDAAE-AC18-4EEF-9B99-A8E81736EF02</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>67756226-7A39-4552-99FF-AB9E2C8EB206</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>06325E3E-A9E5-4340-AD2E-2A6148CCB6F3</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7852D768-F2BB-4116-89FB-88486AF1A96B</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>131BE1BE-9735-439A-B8F6-E8BD8E6FB0A1</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>674F55BA-2991-4C3D-A03D-2E75270BCCF2</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C9CE64A3-E1E3-44F6-AED0-66E6C4384311</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>743DEC96-5DCE-4CA7-AF0E-8130C89C8329</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4097ACA5-84FD-4979-A376-88A4F72693D5</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D1FB79C7-4AC7-4507-8C69-409394B7A2D5</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>735CC67E-F55F-4B5D-93F0-BC14D88B04F4</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
</array>
</plist>
