<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-metalslug.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-09-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-09-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-09-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-09-20T15:59:59Z</date>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2023-09-22T13:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string></string>
		<key>UUID</key>
		<string>E4B99713-BF86-4FB2-BB99-D905BFE997F9</string>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2023-09-22T13:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string></string>
		<key>UUID</key>
		<string></string>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2023-09-22T12:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>蝦ianyang101</string>
		<key>UUID</key>
		<string>61EC69CC-500D-4C89-84F8-E328590ED552</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>40A616EA-3720-4739-81B1-1D5EB3DC83C5</string>
		<key>EndDate</key>
		<date>2023-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2D29DB9D-C7D7-4449-A9A1-F7E9055797EC</string>
		<key>EndDate</key>
		<date>2023-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-21T17:50:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string></string>
		<key>UUID</key>
		<string>432243D3-BFD4-4F4D-8D01-A9ED33305CFC</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>29596849-F87A-48A7-ADF8-85613EB3E40D</string>
		<key>EndDate</key>
		<date>2023-09-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1E71708A-DD85-4C67-A560-83D38E6B09D5</string>
		<key>EndDate</key>
		<date>2023-09-21T15:59:59Z</date>
	</dict>
</array>
</plist>
