<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>

		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-legendarymasteridle.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ashqcoghmckipw8/uuids-virawu.plist?dl=1</string>

		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-09-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-09-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-09-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A2200EBA-F3E1-4D75-B116-C3BFF0BBE36C</string>
		<key>EndDate</key>
		<date>2023-10-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>86D841BE-05A0-4784-8D75-BE7EF47ED432</string>
		<key>EndDate</key>
		<date>2023-10-06T15:59:59Z</date>
	</dict>
        <dict>
		<key>UUID</key>
		<string>CFE331AB-C65B-4D4D-B5C1-BBF9AD0A043E</string>
		<key>EndDate</key>
		<date>2023-09-12T15:59:59Z</date>
	</dict>
        <dict>
		<key>UUID</key>
		<string>B17F8EE4-3BDF-4CA8-BB43-D6FE53D1B1E0</string>
		<key>EndDate</key>
		<date>2023-08-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CFE331AB-C65B-4D4D-B5C1-BBF9AD0A043E</string>
		<key>EndDate</key>
		<date>2023-08-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A952D0C6-A2D6-4513-AC59-E5839FC209F6</string>
		<key>EndDate</key>
		<date>2023-08-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B37386AA-320A-4671-9395-9ECEB866FB79</string>
		<key>EndDate</key>
		<date>2023-07-21T15:59:59Z</date>
	</dict>
</array>
</plist>
