<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>

		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-sevenknights.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>205FDBB0-BDE2-456F-BC97-ECDF8A8A84B5</string>
		<key>EndDate</key>
		<date>2023-12-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BF4B4EAE-F254-431A-A1CF-7EF1A89BA810</string>
		<key>EndDate</key>
		<date>2023-12-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EF391B28-F98B-48C6-B9D4-93D0B1639F83</string>
		<key>EndDate</key>
		<date>2023-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C75CB770-1D25-4AE5-B12F-1BB55C3E6D8B</string>
		<key>EndDate</key>
		<date>2023-12-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A53BD36C-3D2A-41FB-B78F-3F21F2838E36</string>
		<key>EndDate</key>
		<date>2023-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AD50B6AA-028E-4AB9-9E33-3DBDB1789D69</string>
		<key>EndDate</key>
		<date>2023-12-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FCC59CE5-3A3C-4ED0-BBE5-2FC93D7AFEA2</string>
		<key>EndDate</key>
		<date>2023-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DF76FF7C-AD00-40BA-821D-613E2EB5EB00</string>
		<key>EndDate</key>
		<date>2023-11-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>24973717-2B15-4EAB-A066-D98DB59CBCB9</string>
		<key>EndDate</key>
		<date>2023-11-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6F6CA30B-4EA0-4074-ADFA-E944C3C527DB</string>
		<key>EndDate</key>
		<date>2023-11-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F0100522-F9BD-4DD9-8235-E979F3D69210</string>
		<key>EndDate</key>
		<date>2023-11-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E70C113A-8498-4225-A10F-A3FD1AE1820C</string>
		<key>EndDate</key>
		<date>2023-11-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6D0C3285-B4C7-4A7E-909C-0EDDFF5BBCD8</string>
		<key>EndDate</key>
		<date>2023-11-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6BD929B9-B291-4C3B-AF1A-F0490F7D4622</string>
		<key>EndDate</key>
		<date>2023-11-20T15:59:59Z</date>
	</dict>
</array>
</plist>
