<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-metalslug.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B2EBE87A-FAE5-4312-97EB-573DC39893DF</string>
		<key>EndDate</key>
		<date>2023-10-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8247FC3B-52AE-49CD-8AB7-FA9345D674E2</string>
		<key>EndDate</key>
		<date>2023-09-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>63AD634E-6BAC-4A86-A0B5-A3C191E813D3</string>
		<key>EndDate</key>
		<date>2023-09-29T15:59:59Z</date>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2023-09-28T09:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴哲</string>
		<key>UUID</key>
		<string>08A97956-232C-49B6-85A6-CBDB0C1CECC2</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>248A40B6-00FC-40A3-8886-5FED6E8284CC</string>
		<key>EndDate</key>
		<date>2023-09-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>373E432E-41C3-47B4-83A7-1D276E010F25</string>
		<key>EndDate</key>
		<date>2023-09-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F148392A-E513-4FC0-AA6B-541E4C8594B3</string>
		<key>EndDate</key>
		<date>2023-09-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D5C14B97-8DC6-4AFE-B4E5-BD5C4BACD03E</string>
		<key>EndDate</key>
		<date>2023-09-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-25T08:10:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴 小熊🐻</string>
		<key>UUID</key>
		<string>479AFFC4-4916-4361-A705-0C446ECCF4ED</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-25T07:40:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴Fan</string>
		<key>UUID</key>
		<string>0590071C-A75E-44C2-8AC4-1C0605708E3B</string>
	</dict>	
	<dict>
		<key>UUID</key>
		<string>E410A7E1-DFBC-49D5-9268-0F2DFA92F5A6</string>
		<key>EndDate</key>
		<date>2023-09-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BA48714D-F001-42CD-A353-A62F55EA1919</string>
		<key>EndDate</key>
		<date>2023-09-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-23T13:10:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴Yi</string>
		<key>UUID</key>
		<string>4EFC4E4E-33E3-4602-9179-B151D571362F</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-22T13:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string></string>
		<key>UUID</key>
		<string>90A3344E-23DF-491A-9282-6C45535C5F79</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-22T13:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>7523F75F-9F93-4101-BE4E-1ADD0F5F2F7E </string>
		<key>UUID</key>
		<string></string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-22T12:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>蝦ianyang101</string>
		<key>UUID</key>
		<string>61EC69CC-500D-4C89-84F8-E328590ED552</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>40A616EA-3720-4739-81B1-1D5EB3DC83C5</string>
		<key>EndDate</key>
		<date>2023-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2D29DB9D-C7D7-4449-A9A1-F7E9055797EC</string>
		<key>EndDate</key>
		<date>2023-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-21T17:50:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string></string>
		<key>UUID</key>
		<string>57BF8B3D-D80E-41FC-97D6-2AE1F9034F8C</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>29596849-F87A-48A7-ADF8-85613EB3E40D</string>
		<key>EndDate</key>
		<date>2023-09-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1E71708A-DD85-4C67-A560-83D38E6B09D5</string>
		<key>EndDate</key>
		<date>2023-09-21T15:59:59Z</date>
	</dict>
</array>
</plist>
