<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-heavenburnsred.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-03-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-03-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D5746E16-67DF-4D55-BECF-725057779C6C</string>
		<key>EndDate</key>
		<date>2023-03-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B97D5675-6267-4F2D-A1EE-73F0BF6534CB</string>
		<key>EndDate</key>
		<date>2023-03-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F3523AA5-2DBC-4DB3-AB04-74EC25C4D846</string>
		<key>EndDate</key>
		<date>2023-03-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>490AB82F-2996-45D2-BFDB-CE5D1F6FA2B0</string>
		<key>EndDate</key>
		<date>2023-03-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>44001706-F0B8-48B6-A966-BD3F7D052942</string>
		<key>EndDate</key>
		<date>2023-03-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>87A5B87C-4BF7-4C71-AD31-DDA14294D9F2</string>
		<key>EndDate</key>
		<date>2023-03-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7C3F310F-ABF3-4EBD-96D5-B20F3C78004A</string>
		<key>EndDate</key>
		<date>2023-03-18T15:59:59Z</date>
	</dict>
</array>
</plist>
