<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>50</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<string>Nguyễn Thành Nguyên</string>
	<dict>
		<key>UUID</key>
		<string>5926E4F4-2103-4CE4-9998-868835336429</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F6CB300F-7088-4B6C-9965-1CE71BFA1027</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>367D746C-F629-49F1-A386-A94CA85FAD48</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E90F4D4F-305E-4964-9970-65095CB691F4</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D3F26709-36BA-4C61-8269-7DF34B658ED6</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D0D54542-823F-419A-9D2C-CB1FECA87EC2</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>ABD4A957-3DF2-4179-8129-6276E15952AE</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E89939A1-B118-420F-AA1B-42723E8BB8AF</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CA5E154E-06DC-4BA0-B9B9-2A224108EB4E</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B7D1768F-F935-437F-8346-A4B6667B0BB9</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E951A314-34C9-4A02-9CB0-D725729B3CE5</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>98A55FFE-F54F-4B2B-8166-2D48C291770A</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3AE2C44A-0FA0-4439-80BD-3F3D345D7FF5</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F2D24A91-99E8-4622-80FA-109836C473FD</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EB002819-886C-469B-AC86-BFAD3D955336</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A723465D-2B3A-415A-BFF4-FB89AE1A8506</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>30069ACB-2661-4111-9EAE-A298FBDD29C5</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>10C004D3-B9FE-4D98-8BA2-02DBC9777B05</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A80AFB08-4C35-4143-AD9C-82EF46A0BDF7</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2853556E-386E-4151-9A03-3E4024ECBBDF</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8086EFB1-C839-4C11-8294-A78D82D2AF49</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>58BF9B55-8FD6-4BC1-AA19-93179E287C82</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5EF00422-6011-4EF4-9132-617F7A028E75</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>80E0BF99-C3A0-4823-87AF-43A50C00C0E5</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8CF42802-05C1-4306-A587-75427CE3828C</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B573C070-328E-45E1-A18A-F3C977E49307</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5F4554AB-AB22-42FC-9914-4BFD6E7013E8</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>addkey</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>addkey</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-03T15:59:59Z</date>
	</dict>
	<string></string>
</array>
</plist>
