<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-wildrifttw.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-04-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-04-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>ADA75225-868C-4BEB-965C-3964AD77B7EA</string>
		<key>EndDate</key>
		<date>2023-04-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EE423D12-A186-4C98-A68A-C640C18559C5</string>
		<key>EndDate</key>
		<date>2023-04-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FA488F10-5C3B-4891-AA12-D50BA37F77BA</string>
		<key>EndDate</key>
		<date>2023-04-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DD38D324-EBAE-4E08-81CB-8B2E520C1291</string>
		<key>EndDate</key>
		<date>2023-04-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A432401A-6E96-4AA8-A8BE-6910F33AE558</string>
		<key>EndDate</key>
		<date>2023-03-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>004D1EA4-909F-4784-8BFD-A7947B45217C</string>
		<key>EndDate</key>
		<date>2023-03-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>12230703-CBA7-4BE3-A21C-64FFB075596E</string>
		<key>EndDate</key>
		<date>2023-03-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D7463006-003C-4E67-A4F6-0BBE77B4DB12</string>
		<key>EndDate</key>
		<date>2023-03-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DAC7B6A9-4819-4D4C-BD9F-0AD93D172912</string>
		<key>EndDate</key>
		<date>2023-03-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E49F9AFB-2C67-6AA5-9876-EE26D7174074</string>
		<key>EndDate</key>
		<date>2023-03-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>74A0B8DF-D712-4B5E-BF1B-65AA94A8B0F0</string>
		<key>EndDate</key>
		<date>2023-03-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>41D1161C-B8D2-4ECD-AF07-5274C62C07B6</string>
		<key>EndDate</key>
		<date>2023-03-14T15:59:59Z</date>
	</dict>
</array>
</plist>
