<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>46</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>20</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>7</integer>
				<key>limit</key>
				<string>10</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>8</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-kgtw148.plist</string>
			<string>https://www.dropbox.com/s/t0fakcc2km6levz/uuids-kgtw.plist?dl=1</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/gm4nrfm12lgc0i9/uuids-gaomh2%202.plist?dl=1</string>
			<string>https://www.dropbox.com/s/aj8e6t8wqwy8f5p/uuids-hsj.plist?dl=1</string>
			<string>https://www.dropbox.com/s/2dlu8vfyt6bxalk/uuids-kylo.plist?dl=1</string>
			<string>https://www.dropbox.com/s/0xi5935d5451wk5/uuids-kuku.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A5302100-A829-40B1-8C8F-10A5359F4312</string>
		<key>EndDate</key>
		<date>2022-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-01-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-01-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FFA7C54E-364A-454E-B9D8-19C3E6AEBEC6</string>
		<key>EndDate</key>
		<date>2023-02-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>743D2707-4071-481B-A5F3-791A201388B8</string>
		<key>EndDate</key>
		<date>2023-02-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D05CE028-2BF4-4F2A-ADD2-FAEC66BBFF74</string>
		<key>EndDate</key>
		<date>2023-02-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FA096C48-18C3-4676-BDA8-646A4B312E92</string>
		<key>EndDate</key>
		<date>2023-01-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>74B6CE96-0C4D-441E-B123-66983B1B39EC</string>
		<key>EndDate</key>
		<date>2023-03-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>91CDCD8F-996E-4BA3-96A4-B5E2B7CC7BDC</string>
		<key>EndDate</key>
		<date>2023-01-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E4FC6807-F0E9-4C39-9B73-91830858911F</string>
		<key>EndDate</key>
		<date>2022-12-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9F0BC14B-9319-4D57-8412-D4D44D583712</string>
		<key>EndDate</key>
		<date>2023-02-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>26DF66F4-19B8-4D0E-82FE-305B61645E3D</string>
		<key>EndDate</key>
		<date>2023-01-31T15:59:59Z</date>
	</dict>
</array>
</plist>
