<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-randomdicego.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4F8EA5AE-B430-45B4-B557-4577A764D148</string>
		<key>EndDate</key>
		<date>2023-05-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BB0DB5EF-6F88-4EDF-BD30-7D357F8AFB8A</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B9E49B57-840B-475C-BA7E-A1A6B3102B05</string>
		<key>EndDate</key>
		<date>2023-05-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D0504143-E6A4-488B-BE83-5C0F3708D234</string>
		<key>EndDate</key>
		<date>2023-05-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2D8AF3C0-602A-4369-8268-ACDC9F27B934</string>
		<key>EndDate</key>
		<date>2023-04-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>717E8571-975C-48C6-97AF-28EAACD6B6DD</string>
		<key>EndDate</key>
		<date>2023-04-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6E87DFB7-6536-42AE-AD5B-B75781F67493</string>
		<key>EndDate</key>
		<date>2023-04-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DFEAE4BD-49DC-46C9-90B4-7930F2E9D36C</string>
		<key>EndDate</key>
		<date>2023-04-05T15:59:59Z</date>
	</dict>
</array>
</plist>
