<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2021-05-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2021-05-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2021-05-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2021-05-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2021-05-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2021-05-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2021-05-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2021-05-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2021-05-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3ED65596-78AA-48F4-856F-35C4651F817C</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>Feature</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
