<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>63236906-57D5-4F96-9F55-1E814629D537</string>
	<string>4C309F9B-7141-41E8-8310-169AE06E79AB</string>
	<string>FCDC19C0-895F-4062-896E-27A33F760F88</string>
	<string>7615CEFD-8569-4B68-A68D-9834628AE1EA</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
</array>
</plist>
