<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string></string>
	<dict>
		<key>UUID</key>
		<string>3181EAFA-779F-494F-96B0-42B296D654B1</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3ED612C7-B0E0-41A6-BE2C-8E7A907A8302</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>23A692A2-3C3F-42C8-A568-4A6205693DC3</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>90BF1F79-B729-48EA-BD01-28BBED63EC80</string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
