<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>IPA-start</string>
	<string>07958C24-8C43-4190-BF9E-A1F33E38683C</string>
	<string>5DAC9327-D661-41E1-AFA3-6C905248EA36</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string>JB-start</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string>yc-</string>
	<string>6DFBF898-A7CF-4344-B5EE-12E8251731F5</string>
	<string>9666E980-328A-46B6-8253-534163DBA5D2</string>
	<string>9CF0E6B4-1C8E-448A-B936-A1B382132A05</string>
	<string>C0B17688-BAE3-4CC6-BF0D-998496C97401</string>
</array>
</plist>
