<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-archerforest.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6D16181B-6AAA-4573-8024-45F1D0303D5A</string>
		<key>EndDate</key>
		<date>2022-12-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9AE23DFD-DEC2-4AC2-A2C1-34BDEFA1959E</string>
		<key>EndDate</key>
		<date>2022-12-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EA593192-43BB-4DCD-9E97-8D822EEAAFCE</string>
		<key>EndDate</key>
		<date>2022-12-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5D990F01-97C5-4B00-AE68-48CAA935D4DD</string>
		<key>EndDate</key>
		<date>2022-12-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FAB3B198-2EB4-433E-95B0-E6FE70A4DE47</string>
		<key>EndDate</key>
		<date>2022-12-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>853E0639-4562-4438-9BEF-E429D9D962AE</string>
		<key>EndDate</key>
		<date>2022-12-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C3639254-E720-4526-9406-06F3F66EF1ED</string>
		<key>EndDate</key>
		<date>2022-12-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4E7C5841-D33D-4E31-B7A7-4D3900BE06A4</string>
		<key>EndDate</key>
		<date>2022-12-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>30695ECB-3325-49D5-8827-92FC170241FE</string>
		<key>EndDate</key>
		<date>2022-12-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C029DF0E-9A8B-40A3-87FB-E71818C58D82</string>
		<key>EndDate</key>
		<date>2022-12-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>61890908-3C21-4C9E-BB19-E8B09849C554</string>
		<key>EndDate</key>
		<date>2022-12-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8B96CB8B-2A43-4EDE-9B64-91492DE140CB</string>
		<key>EndDate</key>
		<date>2022-12-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E961D229-1207-4877-8003-FE70FF968662</string>
		<key>EndDate</key>
		<date>2022-12-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>904B650E-E862-4566-8AF6-C2B26A50970A</string>
		<key>EndDate</key>
		<date>2022-12-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>59967A28-E151-4AD0-8BFE-0B9308A54997</string>
		<key>EndDate</key>
		<date>2022-11-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>657CC7A1-50A9-487A-81BC-4B3D86F88CD1</string>
		<key>EndDate</key>
		<date>2022-12-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D374D164-CDE3-4644-83C7-784F57337F91</string>
		<key>EndDate</key>
		<date>2022-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8EAE67E6-98E5-445C-846C-4A2D4C661E93</string>
		<key>EndDate</key>
		<date>2022-12-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7E2E16CA-575A-4B67-9D23-AE1BAFAFE3F6</string>
		<key>EndDate</key>
		<date>2022-12-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DBA50A92-6A29-4DA3-900D-1D01614971F6</string>
		<key>EndDate</key>
		<date>2022-12-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>282A7977-C02F-4309-91F3-9609920A84D8</string>
		<key>EndDate</key>
		<date>2022-12-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AE9AAF5F-9311-4D43-B2A9-8BB384B009C3</string>
		<key>EndDate</key>
		<date>2022-12-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8EACF676-CC44-4550-8AF1-B4C28718DF69</string>
		<key>EndDate</key>
		<date>2022-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>486DC960-721B-4946-8635-CB011A91788F</string>
		<key>EndDate</key>
		<date>2022-12-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F6026B97-4A3C-4126-A20C-01B4E64F6505</string>
		<key>EndDate</key>
		<date>2022-11-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F9CCED8D-61DF-48C7-A5FA-767CEE0C2A33</string>
		<key>EndDate</key>
		<date>2022-11-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8A8F86A3-0B8F-40E8-8476-230506920609</string>
		<key>EndDate</key>
		<date>2022-11-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EFA20529-F096-44A9-85C8-DC869FF93528</string>
		<key>EndDate</key>
		<date>2022-11-28T15:59:59Z</date>
	</dict>
</array>
</plist>
