<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-wildrifttw.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-02-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-02-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>12230703-CBA7-4BE3-A21C-64FFB075596E</string>
		<key>EndDate</key>
		<date>2024-02-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9F77DA0A-9242-4876-9E65-F7D6A5E8659C</string>
		<key>EndDate</key>
		<date>2024-02-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2C4B311E-C805-471A-9713-219E9BDC4CEB</string>
		<key>EndDate</key>
		<date>2024-02-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4C84E7F6-D761-49B7-A13A-54B2185BF830</string>
		<key>EndDate</key>
		<date>2024-02-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D580737A-EA0E-464F-BBD9-6875C589E684</string>
		<key>EndDate</key>
		<date>2024-02-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DC481928-B816-4E8A-AE52-E12E837FDE83</string>
		<key>EndDate</key>
		<date>2024-02-07T15:59:59Z</date>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2024-02-02T14:30:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴戴宇君</string>
		<key>UUID</key>
		<string>BC464D09-3B86-4C7A-9DC7-C82E72C8C373</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A9D1ED6B-8CB6-4F0A-B366-3ED17D2B8EAB</string>
		<key>EndDate</key>
		<date>2024-02-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2024-02-11T08:40:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴SIANG</string>
		<key>UUID</key>
		<string>FB328837-9093-40F8-927F-2D6AE571C112</string>
	</dict>
</array>
</plist>
