<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<dict>
		<key>UUID</key>
		<string>AFEF6BCE-48B0-438A-9BCA-6B88DE1D3E08</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2021-09-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>38CF556C-C520-4228-B32D-14E3E64708A3</string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
