<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>

		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-idlehunter.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ashqcoghmckipw8/uuids-virawu.plist?dl=1</string>

		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-12-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-01-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-01-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2024-01-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0E737EC6-11A0-454D-90FF-598CEC911514</string>
		<key>EndDate</key>
		<date>2024-01-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8D88BEE0-88E0-42DA-A9DD-AC43882682D3</string>
		<key>EndDate</key>
		<date>2024-01-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>783D63FD-DC8D-496D-ADCF-B7633310F952</string>
		<key>EndDate</key>
		<date>2023-12-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6E727E6E-5E40-46D1-B8E2-7147CDB73067</string>
		<key>EndDate</key>
		<date>2023-12-12T15:59:59Z</date>
	</dict>
</array>
</plist>
