<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>60</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<string>Nguyễn Thành Nguyên</string>
	<dict>
		<key>UUID</key>
		<string>4622FFC3-0302-4752-9026-51B7E212E2DD</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>addkey</string>
		<key>remark</key>
		<string>Customer who own this UUID or anything you want.</string>
		<key>EndDate</key>
		<date>2022-05-03T15:59:59Z</date>
	</dict>
	<string></string>
</array>
</plist>
