<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-archerforest.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-02-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-02-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-02-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8D172C42-4B92-47F4-A5D2-A30EC12BD010</string>
		<key>EndDate</key>
		<date>2023-02-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B4CBE037-2D3C-4645-B83C-0EE6AC96AC1E</string>
		<key>EndDate</key>
		<date>2023-02-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>25577508-4EC1-44F1-BAD4-F373A55976D1</string>
		<key>EndDate</key>
		<date>2023-01-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7B4A49F1-23D6-41A0-9AC5-F18ADE1F4B0D</string>
		<key>EndDate</key>
		<date>2023-01-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>35FA6BE9-DE70-44FF-8B1F-3F9937C6F5D7</string>
		<key>EndDate</key>
		<date>2023-01-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0BBD1BD2-3ADF-4EAF-A7EB-10937DDE0C6A</string>
		<key>EndDate</key>
		<date>2023-01-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EE24ED97-7C49-4CE1-97CB-2D1A8BA951C2</string>
		<key>EndDate</key>
		<date>2023-01-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4D2012E1-7EE9-4C56-A416-0B8B766D0846</string>
		<key>EndDate</key>
		<date>2023-01-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C15AB488-1324-4D50-A640-0F20CC178860</string>
		<key>EndDate</key>
		<date>2023-01-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5A75C141-4365-4E77-98FE-061A28BEC607</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5D6FDC00-3729-44E3-A575-B8701D4BE957</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2AF9367E-A29F-43E9-99EC-E7C2ED1A6703</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4719D4AF-BBE2-43DB-BA3E-6D328D312FC7</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>43CDDF02-A366-4604-A35E-3C0534EA9AD7</string>
		<key>EndDate</key>
		<date>2023-01-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8278C0A3-4138-4A56-AE3D-4BAD48CCB160</string>
		<key>EndDate</key>
		<date>2023-01-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DE740FFB-4864-4594-A9BE-8B124E2B225E</string>
		<key>EndDate</key>
		<date>2023-01-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B204D81F-1582-499A-A078-E468151006F2</string>
		<key>EndDate</key>
		<date>2023-01-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8D5506F0-6227-4AFA-B083-7873A3F013BA</string>
		<key>EndDate</key>
		<date>2023-01-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F5F662D3-AA30-4CCA-B039-D6CB48E6D911</string>
		<key>EndDate</key>
		<date>2023-01-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>127DCD12-F476-4048-A01A-B6039EB6CF5D</string>
		<key>EndDate</key>
		<date>2023-01-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C014CACA-742C-4464-963E-4B93C5FE169F</string>
		<key>EndDate</key>
		<date>2023-01-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>833D6AFB-D528-4434-9C7D-85312FA47DD1</string>
		<key>EndDate</key>
		<date>2023-01-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>825AC66C-84B7-4AD3-BB6E-DCAE71AD978F</string>
		<key>EndDate</key>
		<date>2023-01-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>16780401-27B3-4F27-B345-3ABBCEE4A7A8</string>
		<key>EndDate</key>
		<date>2023-01-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>423ED1D7-9406-4A54-B8C1-AA9ED798982F</string>
		<key>EndDate</key>
		<date>2023-01-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>40B62021-5A2D-486C-BBB8-9F9DA049C91A</string>
		<key>EndDate</key>
		<date>2023-01-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>09C927C7-4788-4E49-BB30-A6B6F1C0A315</string>
		<key>EndDate</key>
		<date>2023-01-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9C028954-639A-4F73-9E49-B8FE8EC5038D</string>
		<key>EndDate</key>
		<date>2023-01-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F6026B97-4A3C-4126-A20C-01B4E64F6505</string>
		<key>EndDate</key>
		<date>2022-12-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C797E492-EB83-4F3E-8AF0-A40CA9A9D099</string>
		<key>EndDate</key>
		<date>2023-01-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FE52011B-57E2-4DF5-A2DA-62E345E17C09</string>
		<key>EndDate</key>
		<date>2023-01-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EFC08B32-3D8A-41CB-9A94-D4C76ACD9A69</string>
		<key>EndDate</key>
		<date>2023-01-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8A43D2EC-88CE-415F-96A3-ECE42062B387</string>
		<key>EndDate</key>
		<date>2022-12-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C8EF88E7-8D2B-4FD2-A800-4487F0B73E76</string>
		<key>EndDate</key>
		<date>2022-12-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CB7CDBFF-3A06-4590-8DBE-A711F5A861FD</string>
		<key>EndDate</key>
		<date>2022-12-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FDC20ACD-CEB3-41A7-8BEC-25A3780E05C9</string>
		<key>EndDate</key>
		<date>2022-12-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9AE23DFD-DEC2-4AC2-A2C1-34BDEFA1959E</string>
		<key>EndDate</key>
		<date>2022-12-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>72109B29-C94B-4A52-9D75-E5DC2D5602B4</string>
		<key>EndDate</key>
		<date>2022-12-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>331EAFBF-7AA1-47BE-830A-4D0A81B21123</string>
		<key>EndDate</key>
		<date>2022-12-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9F40F7D8-3B5A-4BA6-AD21-441B7C044B65</string>
		<key>EndDate</key>
		<date>2022-12-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9097B56D-935B-44EC-B06D-922E6BE30892</string>
		<key>EndDate</key>
		<date>2023-01-16T15:59:59Z</date>
	</dict>
</array>
</plist>
