<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>

		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-sevenknights.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E70C113A-8498-4225-A10F-A3FD1AE1820C</string>
		<key>EndDate</key>
		<date>2023-11-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6B6C53FB-1CBE-4FD0-B862-A3196590D2A2</string>
		<key>EndDate</key>
		<date>2023-11-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EBD218EB-143E-4F0A-94D3-6C911FE25DE5</string>
		<key>EndDate</key>
		<date>2023-11-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>76FB33A7-0FF5-420A-A186-0A4DC214ED29</string>
		<key>EndDate</key>
		<date>2023-11-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6ED5CE85-D322-4C99-9124-1F835E53E296</string>
		<key>EndDate</key>
		<date>2023-11-14T15:59:59Z</date>
	</dict>
</array>
</plist>
