<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>18B83EDA-D070-4EEE-98B8-B07043A041FF</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-09-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D5EFEC74-44E7-4832-A8FF-0E48FF534CCB</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>566725D1-BA74-46F2-8364-BBB684F07485</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-28T15:59:59Z</date>
	</dict>	
	<dict>
		<key>UUID</key>
		<string>93B31BA1-AD0B-48F0-BFE9-F87989C81B98</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DA7FC2D6-AE97-4097-B1B6-B5A9EF54509D</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3FC699B2-B6BE-4151-804B-4430C4A3BB48</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>10D1B091-599E-42F1-8664-7B0A6ABFBBE5</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>294872D8-6DC1-495E-A240-9703449920E5</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>154BF9D7-368E-4AF5-8687-0F71F8F21DCD</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9EF2E3C1-9616-4D23-93DD-B8363A6E845F</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>808F7C09-A556-4259-9CE3-29F9A53D021D</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7E9322D8-FC5D-4437-8F7C-71ADBE9A71AB</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5C4C0F92-C904-49F7-9E4B-A42C48C0FAAD</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D2CFD54A-DDAB-4D9C-96C5-0465B54F130E</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>03DA73FC-AF74-4DD9-9560-3E6B03666F63</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3A8526FB-6241-48DB-A0AD-7CF7158CC369</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E0809563-E5C0-46B9-81BD-B309F4C164BE</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>23DDD26C-49F5-49A4-8081-735DE903A41B</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1DA67F99-91CB-44DD-BFE4-2FD492CE8C49</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>14B34CF9-7BD2-4E0E-A116-235373EBF2BA</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-08-02T15:59:59Z</date>
	</dict>
</array>
</plist>
