<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-11-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-11-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-11-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>13C862D8-F8B2-4FA8-BA89-12E175CE444A</string>
		<key>EndDate</key>
		<date>2022-11-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0E575B1B-D941-4A7E-AA93-5673B7AE90C9</string>
		<key>EndDate</key>
		<date>2022-11-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0B78AD10-5273-4206-A02B-47A8FA476626</string>
		<key>EndDate</key>
		<date>2022-11-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>149D3798-D7B2-41AE-9AC9-EEEBAEA3BFD5</string>
		<key>EndDate</key>
		<date>2022-11-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C15588C0-12FD-4FC8-9313-3BC9A1CF2F19</string>
		<key>EndDate</key>
		<date>2022-11-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B20FEA48-82C2-4C8A-922E-DAFE356FDE12</string>
		<key>EndDate</key>
		<date>2022-11-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3FFC38A7-4873-492E-A36B-800A928E00DD</string>
		<key>EndDate</key>
		<date>2022-11-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BE2640F5-B93C-4E75-8382-C08BFC6E4CE5</string>
		<key>EndDate</key>
		<date>2022-11-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>75D40C17-3663-4871-AE5A-4174AA329596</string>
		<key>EndDate</key>
		<date>2022-11-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>113A33DB-6C9F-4B4E-840A-FE14D7B1052F</string>
		<key>EndDate</key>
		<date>2022-11-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B1E184E7-AD5E-47A8-ACE9-4D799303A981</string>
		<key>EndDate</key>
		<date>2022-11-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>418E18AD-E7E4-4C80-AC63-BF5F2096EDA6</string>
		<key>EndDate</key>
		<date>2022-11-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>68642EDB-6272-43DA-96EF-AD13D0E6302B</string>
		<key>EndDate</key>
		<date>2022-11-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2F611532-7920-4D99-875A-6C5C09EA33C0</string>
		<key>EndDate</key>
		<date>2022-11-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>31202251-9BD0-4378-8C02-C70881CDC3D9</string>
		<key>EndDate</key>
		<date>2022-11-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A5BAE175-BC39-40B8-823D-13CFAD86C0DA</string>
		<key>EndDate</key>
		<date>2022-11-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>35FD2F71-FC2E-4901-91AF-E13FC7283EA4</string>
		<key>EndDate</key>
		<date>2022-11-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>928DED0A-55C3-40E3-A097-5BB889E3BA35</string>
		<key>EndDate</key>
		<date>2022-11-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D2174CAC-661B-4D2A-B45F-34FE6C62D66E</string>
		<key>EndDate</key>
		<date>2022-11-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>52A76F56-C040-43B2-903E-8EECC068A48E</string>
		<key>EndDate</key>
		<date>2022-11-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EBA2BF09-8F55-47EC-87FC-AD281AC1B7C4</string>
		<key>EndDate</key>
		<date>2022-11-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4EFF6E76-BBB0-48D9-ADA6-79391AFBBEB1</string>
		<key>EndDate</key>
		<date>2022-11-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D79EFB56-3A6B-4280-8C4B-BE5F9188B173</string>
		<key>EndDate</key>
		<date>2022-11-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0646AE45-BC4D-4EC3-8EF8-8738C1D16D37</string>
		<key>EndDate</key>
		<date>2022-11-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6E9C9925-EA51-4BE9-BCC0-62C489309E45</string>
		<key>EndDate</key>
		<date>2022-11-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EB6FCEA2-C21E-47D2-845C-6B83C875D6ED</string>
		<key>EndDate</key>
		<date>2022-11-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E26FC676-FD33-40F0-8198-F57EC0B86DE0</string>
		<key>EndDate</key>
		<date>2022-11-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6CF6EBB8-C2E5-405A-A1FB-BC0F3C9EBD06</string>
		<key>EndDate</key>
		<date>2022-10-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E6C66B78-C578-447C-BCF6-71BFAAFF4105</string>
		<key>EndDate</key>
		<date>2022-10-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C44D36D0-50F1-4296-B460-BA43B265EF7B</string>
		<key>EndDate</key>
		<date>2022-10-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7E77D346-7B94-43BD-B891-8AC8CE75C9AE</string>
		<key>EndDate</key>
		<date>2022-10-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D7C07AAD-146D-4AE8-80E7-D47035D15F59</string>
		<key>EndDate</key>
		<date>2022-10-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4CB49F98-6FE6-4441-95A7-5226E599A9D9</string>
		<key>EndDate</key>
		<date>2022-10-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>07CC5F12-B6D1-4714-9A3E-BB27A8B9B2A5</string>
		<key>EndDate</key>
		<date>2022-10-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8EDA3B3B-6797-4783-80BF-00476D548BB2</string>
		<key>EndDate</key>
		<date>2022-10-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7C8D784B-FA6A-4E5A-BA95-9E5A86D9F5B6</string>
		<key>EndDate</key>
		<date>2022-10-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0B6B67EF-1AE5-4AC0-83BD-3F410A4C2B5B</string>
		<key>EndDate</key>
		<date>2022-10-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8C9DE5A2-E826-46FB-BBC6-34D89953F89D</string>
		<key>EndDate</key>
		<date>2022-10-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>87D02FA1-C754-419A-8766-D0809098E09A</string>
		<key>EndDate</key>
		<date>2022-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5B01B14D-779B-4EB8-90E3-54CABA779E7B</string>
		<key>EndDate</key>
		<date>2022-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>316B694A-1682-434C-B647-737C5CA83A98</string>
		<key>EndDate</key>
		<date>2022-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3E15195C-38E8-4EAA-A587-6A3309165CDD</string>
		<key>EndDate</key>
		<date>2022-10-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>520F567B-0A50-40CB-8B93-D0266A9938AA</string>
		<key>EndDate</key>
		<date>2022-10-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>506B0410-897C-430D-9753-D199D11BD34F</string>
		<key>EndDate</key>
		<date>2022-10-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0E2A89DA-E662-417B-A960-0ED0CF3EC5F1</string>
		<key>EndDate</key>
		<date>2022-10-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A4C627B8-B43C-427A-A710-1668B732DFBC</string>
		<key>EndDate</key>
		<date>2022-10-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>122B4B80-F38C-488C-B12C-E349028826FE</string>
		<key>EndDate</key>
		<date>2022-10-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0F46A847-6AB3-403A-A35D-E2C558100D71</string>
		<key>EndDate</key>
		<date>2022-10-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>86C31C45-DE83-4908-8F98-2CF7E408BCFB</string>
		<key>EndDate</key>
		<date>2022-10-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F97F2994-D09D-4BDD-A692-6EC88C39A2D6</string>
		<key>EndDate</key>
		<date>2022-10-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3FC8EAA6-2AE6-40F2-AA1F-E56D86917A56</string>
		<key>EndDate</key>
		<date>2022-10-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3AE80F71-26A4-49D3-8732-77EF69FC8011</string>
		<key>EndDate</key>
		<date>2022-10-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DE1E426D-910A-4E7A-8D21-985CA1C0E2BC</string>
		<key>EndDate</key>
		<date>2022-10-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B30C349E-3042-4673-85A5-4F4246FB8A28</string>
		<key>EndDate</key>
		<date>2022-10-17T15:59:59Z</date>
	</dict>
</array>
</plist>
