<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>3</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>3</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-sdgundam.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2025-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2025-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B1960876-37E5-4355-B475-189839E85655</string>
		<key>EndDate</key>
		<date>2025-12-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F437EA38-1D9B-4E3F-96F6-A5E3BABFDD01</string>
		<key>EndDate</key>
		<date>2025-12-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2025-08-13T17:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴Rufus</string>
		<key>UUID</key>
		<string>E2798382-C699-45C5-8F14-174BB7162912</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>97E0F801-83B1-4840-A608-CF3F011B43C4</string>
		<key>EndDate</key>
		<date>2025-09-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9F5BDF4C-E676-488F-8344-C1CF7AED1147</string>
		<key>EndDate</key>
		<date>2025-08-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>570F0B06-DA5D-4184-97D0-0D7E068C2072</string>
		<key>EndDate</key>
		<date>2025-07-26T15:59:59Z</date>
	</dict>
</array>
</plist>
