<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string>PunBall</string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-03-28T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<string>SuperWizard</string>
	<dict>
		<key>UUID</key>
		<string>1A3369EF-3741-4AC3-9501-82F964DB5A97</string>
		<key>EndDate</key>
		<date>2022-05-01T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F266FE99-B07C-46CA-87B2-BB3D4DC9D397</string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>New item</key>
		<string>Kylo Ran</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C66B5AF7-67AE-4FBF-B108-5EEC78663EC4</string>
		<key>EndDate</key>
		<date>2022-05-23T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<string>RDWars</string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-01-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
