<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-plant.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-02-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-02-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-02-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B809886F-04BB-4A01-9E47-D67F505548EE</string>
		<key>EndDate</key>
		<date>2023-02-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9DA3DAD9-8EF3-4BED-84E2-6EFB983DE135</string>
		<key>EndDate</key>
		<date>2023-02-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>97A16CFD-9134-499B-B523-1C4288FCD8D9</string>
		<key>EndDate</key>
		<date>2023-02-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>557EB2A5-AE6C-4AE6-9906-B91CF82F7DF1</string>
		<key>EndDate</key>
		<date>2023-02-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D03F1A25-F70F-4629-9AD9-5F156370BC1F</string>
		<key>EndDate</key>
		<date>2023-01-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F6E031AD-2985-4CA9-A2E9-F9089B294351</string>
		<key>EndDate</key>
		<date>2023-01-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E9667D20-6304-4DD5-B71F-E11F915E828A</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AE94C295-09DC-4892-836D-61C50EB59CAE</string>
		<key>EndDate</key>
		<date>2023-01-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>435CCFE9-4868-4CBE-8C01-99E75BF8ABF8</string>
		<key>EndDate</key>
		<date>2023-01-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>117A4530-571E-47FC-9B72-4763737F6A8F</string>
		<key>EndDate</key>
		<date>2023-01-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4564C8B1-B7F8-4ADA-961E-ADA07F663B10</string>
		<key>EndDate</key>
		<date>2023-01-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5AAB1082-A219-4DB9-A171-13BB2853A5D2</string>
		<key>EndDate</key>
		<date>2023-01-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E24BD109-1CB2-4309-A639-CD8FC5F0AE3E</string>
		<key>EndDate</key>
		<date>2023-01-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DF5BCC44-7F58-45C1-ABFC-6232BCB1BA4C</string>
		<key>EndDate</key>
		<date>2023-01-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FBB1D140-CE63-4BDB-82EB-1CFE9FBCDC7A</string>
		<key>EndDate</key>
		<date>2023-01-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>24D0AC04-D7D7-4213-84F8-1438CC6BA71E</string>
		<key>EndDate</key>
		<date>2023-01-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DA74A47A-374E-4C4B-A237-F683D2945366</string>
		<key>EndDate</key>
		<date>2023-01-19T15:59:59Z</date>
	</dict>
</array>
</plist>
