<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-tosapk.plist</string>
			<string>https://www.dropbox.com/s/8nxjirc0qi79hw5/uuids-tos.plist?dl=1</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/b7cj2mwfjsw0czn/uuids-chenyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2026-05-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2026-05-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5FFF2820-C084-486E-AB69-0342F54F5D15</string>
		<key>EndDate</key>
		<date>2026-05-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>72DCCFFD-2A94-4194-BF4D-02E0D322CA36</string>
		<key>EndDate</key>
		<date>2027-04-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CF803BEC-F8C7-4E54-A3B6-03B5E0BC40AE</string>
		<key>EndDate</key>
		<date>2026-04-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>00B1267C-D103-4F22-A0B0-9FD0E9142F0E</string>
		<key>EndDate</key>
		<date>2026-04-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6B083E53-4594-44C6-AC96-704924772DDB</string>
		<key>EndDate</key>
		<date>2026-04-02T15:59:59Z</date>
	</dict>
</array>
</plist>
