<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>2</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>7</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>8</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>9</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-kgtwjb.plist</string>
			<string>https://www.dropbox.com/s/t0fakcc2km6levz/uuids-kgtw.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
		</array>
		<key>Devices</key>
		<dict>
			<key>35</key>
			<dict>
				<key>hor</key>
				<integer>18</integer>
				<key>ver</key>
				<integer>2</integer>
				<key>sz</key>
				<string>111</string>
			</dict>
			<key>41</key>
			<dict>
				<key>hor</key>
				<integer>18</integer>
				<key>ver</key>
				<integer>2</integer>
				<key>sz</key>
				<string>111</string>
			</dict>
			<key>26</key>
			<dict>
				<key>hor</key>
				<integer>30</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>27</key>
			<dict>
				<key>hor</key>
				<integer>30</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>32</key>
			<dict>
				<key>hor</key>
				<integer>30</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>46</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>44</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>36</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>37</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>39</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>42</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>33</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>38</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>40</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>47</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
			<key>45</key>
			<dict>
				<key>hor</key>
				<integer>50</integer>
				<key>ver</key>
				<integer>0</integer>
				<key>sz</key>
				<string>102</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2025-06-18T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2025-06-18T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>95196F8A-D208-47C9-B4F6-013E4C2F7235</string>
		<key>EndDate</key>
		<date>2025-07-14T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1DCBCBB0-4BFF-4AF5-801C-39F28EA3C489</string>
		<key>EndDate</key>
		<date>2025-06-04T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C2A3EF02-19C0-4FE9-A4CE-BB216E5367E8</string>
		<key>EndDate</key>
		<date>2025-07-02T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>01EBBA24-F6A5-4D20-A0E7-0571899B62C2</string>
		<key>EndDate</key>
		<date>2025-02-26T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9CC36488-3250-4D8E-B8EF-8B6CAD7D2E13</string>
		<key>EndDate</key>
		<date>2025-02-30T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B100C771-4FEC-481C-95A8-6F79B38C2736</string>
		<key>EndDate</key>
		<date>2025-12-10T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7C9CDCF1-D3BC-4D10-86CB-E8AEEEE2F9E7</string>
		<key>EndDate</key>
		<date>2024-10-25T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4A76B8BB-CA2A-4D7C-98A6-D25AB7AB122C</string>
		<key>EndDate</key>
		<date>2024-09-09T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9235D5C0-3F99-4C02-9BDF-FCC7738E3A4A</string>
		<key>EndDate</key>
		<date>2025-02-07T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4C0081A8-F3BD-41E2-80AF-EC09F3BE0486</string>
		<key>EndDate</key>
		<date>2024-11-25T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D512F9DA-BAAF-4E69-9F41-C02422FE6718</string>
		<key>EndDate</key>
		<date>2024-11-25T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>53074601-5B3D-4609-BA74-35653E4BE36A</string>
		<key>EndDate</key>
		<date>2025-08-03T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>29EB2759-11DB-4DD7-A62E-C24B15E40EA0</string>
		<key>EndDate</key>
		<date>2025-04-30T15:59:59Z</date>
		<key>FULL</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
