<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-nikke.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-01-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-01-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-01-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-01-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-01-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F5A7DC2D-4815-4167-A20D-2DD0E4C4E17F</string>
		<key>EndDate</key>
		<date>2023-01-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8DAB1AE2-F4DC-41DD-8D37-CAF682F8A7EF</string>
		<key>EndDate</key>
		<date>2023-01-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>76A991DE-3DF5-42B6-861A-4ADD47182743</string>
		<key>EndDate</key>
		<date>2023-02-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>472E89EA-EE3F-4A6A-BBD2-BEF166F146FD</string>
		<key>EndDate</key>
		<date>2023-01-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8A2D88C1-8999-4B7E-926F-8F547097BC0D</string>
		<key>EndDate</key>
		<date>2023-01-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5DC590F0-68FE-47DE-A3D5-5948249726CD</string>
		<key>EndDate</key>
		<date>2023-01-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4A3B3CC0-B9FE-48D3-9208-9004B5894817</string>
		<key>EndDate</key>
		<date>2022-12-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>32E77499-DF34-4076-8565-C6A215B0F478</string>
		<key>EndDate</key>
		<date>2022-12-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E4AAEA96-4EBD-4A81-85F1-C0C85514647A</string>
		<key>EndDate</key>
		<date>2022-12-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8BB620D7-A64D-4162-B59C-DFF961A7575D</string>
		<key>EndDate</key>
		<date>2022-12-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>459C2166-FE01-422A-BB2D-CD76EB622469</string>
		<key>EndDate</key>
		<date>2022-11-20T15:59:59Z</date>
	</dict>
</array>
</plist>
