<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-wildrifttw.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-10-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-10-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-10-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C90E3D3E-704A-4B72-BBBB-F384D695CB6D</string>
		<key>EndDate</key>
		<date>2023-11-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4D64A11B-BEB6-4115-ABCE-9DF214EC9198</string>
		<key>EndDate</key>
		<date>2023-10-25T15:59:59Z</date>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2023-10-20T13:50:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>Hao</string>
		<key>UUID</key>
		<string>446DC763-C8A0-463F-AB21-43EAE4183BF9</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>86B48935-9204-40D0-B629-BF4FE851B3F4</string>
		<key>EndDate</key>
		<date>2023-10-17T15:59:59Z</date>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2023-10-16T19:50:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴sj</string>
		<key>UUID</key>
		<string>916B199A-4463-4EFC-8A8C-E4CE3B041D93</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>801C2493-685F-4233-88B4-BCF80E1F95E4</string>
		<key>EndDate</key>
		<date>2023-11-10T15:59:59Z</date>
	</dict>
</array>
</plist>
