<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>914A0002-A6E9-4AC0-BC2B-81528AFDEF80</string>
	<string>6332951D-2B85-4F54-8D2D-7E895BF94484</string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2021-02-15T15:59:59Z</date>
	</dict>
</array>
</plist>
