<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>16EAC755-CBE2-46F6-A2A2-3364A4DE774C</string>
		<key>EndDate</key>
		<date>2022-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DA14DDA9-8AF7-4244-BC6F-B9524EADD21A</string>
		<key>EndDate</key>
		<date>2022-10-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A60BED89-8B91-40EA-9ADB-2C1F758CDBD7</string>
		<key>EndDate</key>
		<date>2022-10-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7DA90368-926E-4135-8241-4BE3BDAC77C0</string>
		<key>EndDate</key>
		<date>2022-10-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9B80B384-BB97-4460-A982-B533F27FE43F</string>
		<key>EndDate</key>
		<date>2022-10-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>795DC692-0D45-4D8A-8A75-91D9418D0E2F</string>
		<key>EndDate</key>
		<date>2022-10-16T15:59:59Z</date>
	</dict>

	<dict>
		<key>UUID</key>
		<string>77956A61-4F6D-4090-A7A6-161F61F980ED</string>
		<key>EndDate</key>
		<date>2022-10-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>278134C0-5EA1-476F-8400-19DC72285B49</string>
		<key>EndDate</key>
		<date>2022-09-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CA4C7267-23E8-47FE-B501-C9555B0C6EA8</string>
		<key>EndDate</key>
		<date>2022-10-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8FDAFBD6-93B6-45AB-AF28-CECEEBE64B0E</string>
		<key>EndDate</key>
		<date>2022-10-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CF7910E3-FF23-4B75-9757-9A23A4921880</string>
		<key>EndDate</key>
		<date>2022-10-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>798997C5-18C0-4BE9-94DA-F764BA2BB170-KGTW</string>
		<key>EndDate</key>
		<date>2022-10-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7DD8AA38-B35F-4BA7-A3B4-7923EB1092C6</string>
		<key>EndDate</key>
		<date>2022-10-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>29C8C5E6-FCCA-4BBD-A728-E43CE8F49524</string>
		<key>EndDate</key>
		<date>2022-10-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BCFB7B8A-7BD0-46FF-BBCD-52431353CE4C</string>
		<key>EndDate</key>
		<date>2022-10-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0FDDF369-9D53-4EFA-A63E-E297C114A198</string>
		<key>EndDate</key>
		<date>2022-10-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0B4DB3D5-A328-450D-B110-9300D60A850C</string>
		<key>EndDate</key>
		<date>2022-10-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5EDDB6BF-FF1E-4342-814A-81470678D79A</string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3DF0B42A-C8DA-4C91-A62A-8433BCEAEBFA</string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>53B977FE-B3AF-4B81-AA82-66F54CA9687C-T3</string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>175424F4-875E-4221-8A11-CC9713459EBB</string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>626D9823-7BF7-45E9-B464-2ED8776A733D</string>
		<key>EndDate</key>
		<date>2022-10-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E193596F-574B-44FD-9FA4-6D6D300B25BF</string>
		<key>EndDate</key>
		<date>2022-10-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0E066751-8964-4650-8010-E0C565577234</string>
		<key>EndDate</key>
		<date>2022-10-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>607B0174-5933-41AC-BBC3-8CC86AC46502</string>
		<key>EndDate</key>
		<date>2022-10-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A7ECB905-81BC-482F-B8D6-986757BB1FF9</string>
		<key>EndDate</key>
		<date>2022-09-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>283EBE09-F8FD-4F1F-ADF8-7492755BF645</string>
		<key>EndDate</key>
		<date>2022-09-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C15BEA4B-88E4-4AA9-BE52-61082CB6DEBE</string>
		<key>EndDate</key>
		<date>2022-09-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E4067A7D-ED79-43EB-B4A3-A0C1070E22FA</string>
		<key>EndDate</key>
		<date>2022-09-21T15:59:59Z</date>
	</dict>
</array>
</plist>
