<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-metalslug.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-11-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>042AD212-3BFB-42A2-B98B-D8EBC9F83897</string>
		<key>EndDate</key>
		<date>2023-11-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>81790005-87A6-4E31-A720-7F46B643E2B9</string>
		<key>EndDate</key>
		<date>2023-11-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>45956D51-495F-46AA-8CA5-95EC14A88025</string>
		<key>EndDate</key>
		<date>2023-11-15T15:59:59Z</date>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2023-11-25T13:20:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴小熊🐻</string>
		<key>UUID</key>
		<string>F446E08D-CDF7-4609-9CC1-3DD478B6BFD8</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>757A3468-92E2-4EC6-868A-2CE249E7AFFB</string>
		<key>EndDate</key>
		<date>2023-10-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>58E94062-C298-4785-BA31-993845982797</string>
		<key>EndDate</key>
		<date>2023-10-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0AAED7A4-211E-4022-B33B-D1DF8E633591</string>
		<key>EndDate</key>
		<date>2023-10-19T15:59:59Z</date>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2023-10-18T13:20:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴柏緯</string>
		<key>UUID</key>
		<string>42992FB7-4CBF-476C-A813-6DFAF561DE04</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6E7E02A9-6E5D-434A-A39C-4634F69C379B</string>
		<key>EndDate</key>
		<date>2023-11-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2965C510-32C6-41F6-8C40-0B80D1958DDF</string>
		<key>EndDate</key>
		<date>2023-10-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A21EBD46-6F21-4385-8DC5-BEB1C14BB1C5</string>
		<key>EndDate</key>
		<date>2023-10-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0F21467F-EB73-4732-9FA2-1F3B5DE9E69F</string>
		<key>EndDate</key>
		<date>2023-10-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>31BA5375-F49A-43BF-9B1A-10EC3B18876B</string>
		<key>EndDate</key>
		<date>2023-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D7A065AA-A344-437B-9E42-6E13C7E05AD8</string>
		<key>EndDate</key>
		<date>2023-10-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>39584A5D-89F5-4569-879A-3BE7545BE023</string>
		<key>EndDate</key>
		<date>2023-10-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4BCCEEB2-3D83-4027-9C0F-E6D3BD7AD709</string>
		<key>EndDate</key>
		<date>2023-10-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E0F833C5-6F69-451D-8B3F-43F80BCB22EC</string>
		<key>EndDate</key>
		<date>2023-10-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>130BF3B7-49DB-4411-9306-D141A6E5AFC3</string>
		<key>EndDate</key>
		<date>2023-10-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4B62BB7C-717D-4703-8888-E9DDD2B44888</string>
		<key>EndDate</key>
		<date>2023-10-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BD8207B0-9F28-4752-A459-72C3DAD02C4D</string>
		<key>EndDate</key>
		<date>2023-10-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CE3BE9A5-088D-4A8E-B8FD-B13353E21B69</string>
		<key>EndDate</key>
		<date>2023-10-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>75E1C29C-DB14-4FEB-98C5-012B1CA08E44</string>
		<key>EndDate</key>
		<date>2023-10-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-10-03T08:20:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴土豪小老弟</string>
		<key>UUID</key>
		<string>5FCA44B4-511D-4174-A8C7-1C84F3463D3C</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B2EBE87A-FAE5-4312-97EB-573DC39893DF</string>
		<key>EndDate</key>
		<date>2023-11-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8247FC3B-52AE-49CD-8AB7-FA9345D674E2</string>
		<key>EndDate</key>
		<date>2023-09-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>63AD634E-6BAC-4A86-A0B5-A3C191E813D3</string>
		<key>EndDate</key>
		<date>2023-09-29T15:59:59Z</date>
	</dict>
        <dict>
		<key>EndDate</key>
		<date>2023-09-28T09:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴哲</string>
		<key>UUID</key>
		<string>08A97956-232C-49B6-85A6-CBDB0C1CECC2</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>248A40B6-00FC-40A3-8886-5FED6E8284CC</string>
		<key>EndDate</key>
		<date>2023-09-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>373E432E-41C3-47B4-83A7-1D276E010F25</string>
		<key>EndDate</key>
		<date>2023-09-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F148392A-E513-4FC0-AA6B-541E4C8594B3</string>
		<key>EndDate</key>
		<date>2023-09-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D5C14B97-8DC6-4AFE-B4E5-BD5C4BACD03E</string>
		<key>EndDate</key>
		<date>2023-09-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-25T08:10:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴 小熊🐻</string>
		<key>UUID</key>
		<string>479AFFC4-4916-4361-A705-0C446ECCF4ED</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-25T07:40:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴Fan</string>
		<key>UUID</key>
		<string>0590071C-A75E-44C2-8AC4-1C0605708E3B</string>
	</dict>	
	<dict>
		<key>UUID</key>
		<string>E410A7E1-DFBC-49D5-9268-0F2DFA92F5A6</string>
		<key>EndDate</key>
		<date>2023-09-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BA48714D-F001-42CD-A353-A62F55EA1919</string>
		<key>EndDate</key>
		<date>2023-09-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-23T13:10:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>官方賴Yi</string>
		<key>UUID</key>
		<string>4EFC4E4E-33E3-4602-9179-B151D571362F</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-22T13:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string></string>
		<key>UUID</key>
		<string>90A3344E-23DF-491A-9282-6C45535C5F79</string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-22T13:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>7523F75F-9F93-4101-BE4E-1ADD0F5F2F7E </string>
		<key>UUID</key>
		<string></string>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-22T12:00:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string>蝦ianyang101</string>
		<key>UUID</key>
		<string>61EC69CC-500D-4C89-84F8-E328590ED552</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>40A616EA-3720-4739-81B1-1D5EB3DC83C5</string>
		<key>EndDate</key>
		<date>2023-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2D29DB9D-C7D7-4449-A9A1-F7E9055797EC</string>
		<key>EndDate</key>
		<date>2023-09-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>EndDate</key>
		<date>2023-09-21T17:50:00Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>Mark</key>
		<string></string>
		<key>UUID</key>
		<string>57BF8B3D-D80E-41FC-97D6-2AE1F9034F8C</string>
	</dict>
	<dict>
		<key>UUID</key>
		<string>29596849-F87A-48A7-ADF8-85613EB3E40D</string>
		<key>EndDate</key>
		<date>2023-09-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1E71708A-DD85-4C67-A560-83D38E6B09D5</string>
		<key>EndDate</key>
		<date>2023-09-21T15:59:59Z</date>
	</dict>
</array>
</plist>
