<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>2</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-unhappy.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-11-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-11-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>366DD051-DE51-4A77-9281-DE244F95CE60</string>
		<key>EndDate</key>
		<date>2022-11-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5C998989-0D7B-481B-A951-4648E671C5AA</string>
		<key>EndDate</key>
		<date>2022-11-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2E9935DF-7630-4519-B958-DBE2713A6478</string>
		<key>EndDate</key>
		<date>2022-11-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6425EF47-7304-437E-8A1D-A8E6C11BD38D</string>
		<key>EndDate</key>
		<date>2022-11-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B84709A2-B2C1-4A1C-BFDC-FDE19D0308E6</string>
		<key>EndDate</key>
		<date>2022-10-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9FFD9B32-E6C7-4FD4-8EC7-D304D830A38B</string>
		<key>EndDate</key>
		<date>2022-10-15T15:59:59Z</date>
	</dict>
</array>
</plist>
