<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>5</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-pixelhunteridle.plist</string>
			<string>https://www.dropbox.com/s/3mxcloupul4l6mh/uuids-zinjiaking.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/ear8kw4z1bhx9we/uuids-unhcyc.plist?dl=1</string>
			<string>https://www.dropbox.com/s/ublo8p7l18ockuk/uuids-ljh.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-09-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-09-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>16E39DBB-C355-4F05-A2CA-A91D46BFDFC5</string>
		<key>EndDate</key>
		<date>2023-10-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>75D2B4B6-550B-48EA-9DD9-41C2444F3FBB</string>
		<key>EndDate</key>
		<date>2023-10-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>32F22E06-3A39-4A6B-AB66-B66D84EDB8F5</string>
		<key>EndDate</key>
		<date>2023-09-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F52AC5BD-AA3C-4B75-9AE3-0AB4F5C7FA42</string>
		<key>EndDate</key>
		<date>2023-09-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2DE5BC05-E438-4B66-802B-495B4CE25F23</string>
		<key>EndDate</key>
		<date>2023-09-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>06BAA2EF-3166-452B-92D4-1ED870229F96</string>
		<key>EndDate</key>
		<date>2023-09-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>95312348-F142-48BD-BEB2-3E2F0A5B254E</string>
		<key>EndDate</key>
		<date>2023-09-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>924840B6-7B9B-4D83-9BEE-DF82EF732D14</string>
		<key>EndDate</key>
		<date>2023-09-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9EBA9F58-180E-4EB5-8A26-307ACC97F075</string>
		<key>EndDate</key>
		<date>2023-08-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>948946EC-2AE3-490B-9159-EEEB908E5901</string>
		<key>EndDate</key>
		<date>2023-08-31T15:59:59Z</date>
	</dict>
</array>
</plist>
